<button
  nbButton
  ghost
  status="primary"
  (click)="updateDepartment()"
  *ngIf="hasFeatureAccess(PERMISSION_ACTION_DESC.UPDATE)"
  nbTooltip="Edit"
>
  <nb-icon icon="edit-outline"></nb-icon>
</button>
<button
  nbButton
  ghost
  status="primary"
  nbTooltip="Delete"
  (click)="deleteDepartment()"
  *ngIf="hasFeatureAccess(PERMISSION_ACTION_DESC.DELETE)"
>
  <nb-icon icon="trash-outline"></nb-icon>
</button>
<button
  nbButton
  ghost
  status="primary"
  nbTooltip="View Employees"
  (click)="viewEmployees()"
  *ngIf="hasFeatureAccess(PERMISSION_ACTION_DESC.READ)"
>
  <nb-icon icon="people-outline"></nb-icon>
</button>
