@import '../../../shared/@theme/styles/theme';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {
  .menu-sidebar ::ng-deep .scrollable {
    padding-top: nb-theme(layout-padding-top);
  }

  ::ng-deep router-outlet+* {
    display: block;
    animation: fade 1s;

    @keyframes fade {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }
  }
}

app-main {
  .menu-sidebar {
    position: relative;

    .create-campaign {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }

  .settings-sidebar {
    &.expanded {
      transform: translateZ(0);
      width: 25rem;
    }

    .main-container {
      width: 25rem !important;
    }

    transform: translate3d(100%, 0, 0);
    transition: transform 0.3s ease;
  }

  .position-end {
    right: 0;

    &.expanded {
      transform: translateX(-25rem);
    }
  }

  app-info-button {
    border-radius: 0.17rem;
    box-shadow: none;
    position: absolute;
    top: 100%;
    transition: transform 0.3s ease;
    z-index: 998;
  }
}
