<ngx-loading-bar></ngx-loading-bar>
<ngx-spinner></ngx-spinner>
<nb-layout windowMode>
  <nb-layout-header fixed>
    <app-header></app-header>
    <app-info-button
      class="position-end"
      [ngClass]="{ expanded: campaignInfoSidebar }"
      *ngIf="campaignInfoSidebar"
    >
    </app-info-button>
  </nb-layout-header>

  <nb-sidebar class="menu-sidebar" tag="menu-sidebar" responsive>
    <nb-menu [items]="menu"></nb-menu>
    <div
      class="create-campaign mb-4 ml-3 mr-3 mt-4"
      *ngIf="hasFeatureAccess(PERMISSION_ACTION_DESC.CREATE)"
    >
      <button nbButton status="primary" fullWidth (click)="toggleNewCampaign()">
        Create Campaign
      </button>
    </div>
  </nb-sidebar>

  <nb-sidebar
    class="settings-sidebar"
    tag="settings-sidebar"
    end
    fixed
    state="collapsed"
    toggle="onToggle()"
  >
    <app-sidebar-campaign-info
      *ngIf="campaignInfoSidebarButton"
      [campaign]="campaign"
    ></app-sidebar-campaign-info>
    <app-sidebar-manager-info
      *ngIf="managerInfoSidebarButton"
      [manager]="manager"
    ></app-sidebar-manager-info>
  </nb-sidebar>

  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>

  <nb-layout-footer fixed>
    <app-footer></app-footer>
  </nb-layout-footer>
</nb-layout>
