app-no-assigned-scheduler {
  nb-card {
    min-width: 300px;

    nb-card-body {
      align-items: center;
      justify-content: center;
      display: flex;
      flex-direction: column;

      img {
        width: 300px;
        margin: 1.5rem;
      }

      h4 {
        margin-top: 21px;
      }
    }
  }
}
