<button
  nbButton
  ghost
  status="primary"
  (click)="update()"
  *ngIf="hasFeatureAccess(PERMISSION_ACTION_DESC.UPDATE)"
  nbTooltip="Edit"
>
  <nb-icon icon="edit-outline"></nb-icon>
</button>
<button
  nbButton
  ghost
  status="primary"
  nbTooltip="Delete"
  (click)="delete()"
  *ngIf="hasFeatureAccess(PERMISSION_ACTION_DESC.DELETE)"
>
  <nb-icon icon="trash-outline"></nb-icon>
</button>
