<ng-container *ngIf="user.role === USER_ROLE.ADMIN">
  <app-admin-dashboard></app-admin-dashboard>
</ng-container>
<ng-container *ngIf="user.role === USER_ROLE.MANAGER">
  <app-manager-dashboard></app-manager-dashboard>
</ng-container>
<ng-container *ngIf="user.role === USER_ROLE.SDR">
  <app-sdr-dashboard></app-sdr-dashboard>
</ng-container>
