@import '../../../../../../shared/@theme/styles/theme';

app-scheduler-sdr-activity {
  nb-card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    padding-top: nb-theme(card-header-with-select-padding-top);
    padding-bottom: nb-theme(card-header-with-select-padding-bottom);
  }

  nb-list {
    overflow-x: hidden;
  }

  nb-list-item {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin: 0 -0.25rem;
  }

  .visited-date,
  .visited-pages-count,
  .visited-percentages {
    flex: 1 0 auto;
    margin: 0 0.25rem;
  }

  .value {
    margin-top: 0.25rem;
    color: nb-theme(color-success-default);
  }

  .delta {
    display: flex;
    align-items: center;
    position: relative;

    &.down {
      color: nb-theme(color-danger-default);
    }

    &.up {
      color: nb-theme(color-success-default);
    }

    nb-icon ::ng-deep svg {
      vertical-align: top;
    }
  }
}
