<div class="d-inline-flex" [nbTooltip]="'Approve Account'">
  <button nbButton ghost status="primary" (click)="approve()">
    <nb-icon icon="person-done-outline"></nb-icon>
  </button>
</div>
<div class="d-inline-flex" [nbTooltip]="'Deny Account'">
  <button nbButton ghost status="primary" (click)="deny()">
    <nb-icon icon="person-delete-outline"></nb-icon>
  </button>
</div>
