<nb-card>
  <nb-card-body>
    <nb-tabset>
      <nb-tab tabTitle="Invite Message">
        <ckeditor
          [editor]="Editor"
          [config]="editorConfig"
          [(ngModel)]="campaignContent.inviteMessage"
          (ready)="onReady($event)"
        ></ckeditor>
      </nb-tab>
      <nb-tab tabTitle="Message 1">
        <ckeditor
          [editor]="Editor"
          [config]="editorConfig"
          [(ngModel)]="campaignContent.message1"
          (ready)="onReady($event)"
        ></ckeditor>
      </nb-tab>
      <nb-tab tabTitle="Message 2">
        <ckeditor
          [editor]="Editor"
          [config]="editorConfig"
          [(ngModel)]="campaignContent.message2"
          (ready)="onReady($event)"
        ></ckeditor>
      </nb-tab>
      <nb-tab tabTitle="Message 3">
        <ckeditor
          [editor]="Editor"
          [config]="editorConfig"
          [(ngModel)]="campaignContent.message3"
          (ready)="onReady($event)"
        ></ckeditor>
      </nb-tab>
      <nb-tab tabTitle="Message 4">
        <ckeditor
          [editor]="Editor"
          [config]="editorConfig"
          [(ngModel)]="campaignContent.message4"
          (ready)="onReady($event)"
        ></ckeditor>
      </nb-tab>
      <nb-tab tabTitle="Message 5">
        <ckeditor
          [editor]="Editor"
          [config]="editorConfig"
          [(ngModel)]="campaignContent.message5"
          (ready)="onReady($event)"
        ></ckeditor>
      </nb-tab>
    </nb-tabset>
  </nb-card-body>
  <nb-card-footer>
    <button
      nbButton
      status="primary"
      size="large"
      (click)="updateContent()"
      [nbSpinner]="isSubmitting"
      nbSpinnerStatus="success"
      [disabled]="isSubmitting"
    >
      Update
    </button>
  </nb-card-footer>
</nb-card>
