app-campaign-upload {
  nb-card {
    margin-bottom: 0rem !important;

    &.size-small {
      height: 35rem !important;
    }
  }

  .m-t-20 {
    margin-top: 20px;
  }

  .btn-primary,
  .sweet-alert button.confirm,
  .wizard > .actions a {
    background-color: #4099ff;
    border-color: #4099ff;
    color: #fff;
    cursor: pointer;
    -webkit-transition: all ease-in 0.3s;
    transition: all ease-in 0.3s;
  }

  .btn {
    border-radius: 2px;
    text-transform: capitalize;
    font-size: 15px;
    padding: 10px 19px;
    cursor: pointer;
  }
}
