<nb-card>
  <nb-card-header>
    <h6>
      Campaign: <span class="text-primary">{{ campaign?.campaignName }}</span>
    </h6>
    <h6>
      SDR:
      <span class="text-primary"
        >{{ employee?.firstName }} {{ employee?.lastName }}</span
      >
    </h6>
  </nb-card-header>
  <nb-card-body>
    <ngx-dropzone
      (change)="onSelect($event)"
      [accept]="acceptedFile"
      [multiple]="false"
    >
      <ngx-dropzone-label>Drop files here to upload</ngx-dropzone-label>
      <ngx-dropzone-preview
        *ngFor="let f of fileUploads"
        [removable]="true"
        (removed)="onRemove(f.data)"
        [removable]="!isUploading"
      >
        <ngx-dropzone-label
          >{{ f.data.name }} ({{ f.data.type }})</ngx-dropzone-label
        >
      </ngx-dropzone-preview>
    </ngx-dropzone>
    <div class="text-center m-t-20"></div>
  </nb-card-body>
  <nb-card-footer *ngIf="isUploading">
    <nb-progress-bar
      *ngFor="let item of fileUploads"
      [value]="item.progress"
      status="primary"
      class="mt-2"
      [displayValue]="true"
    ></nb-progress-bar>
  </nb-card-footer>
  <nb-card-footer>
    <button
      nbButton
      class="float-right ml-1"
      [disabled]="isUploading"
      (click)="bsModalRef.hide()"
    >
      Cancel
    </button>
    <button
      nbButton
      status="primary"
      [nbSpinner]="isUploading"
      class="float-right"
      *ngIf="fileUploads && fileUploads.length > 0"
      [disabled]="isUploading"
      (click)="uploadFile()"
    >
      Upload Now
    </button>
  </nb-card-footer>
</nb-card>
