app-dashboard-card {
  nb-card {
    text-align: center;

    .title-header {
      font-size: 3em;
    }

    .title-sub-header {
      font-size: 14px;
    }

    &.size-small {
      height: 7rem !important;

      nb-card-body {
        overflow: hidden;
        pointer-events: none;

        .title-header {
          font-size: 2rem;
          line-height: 1.5rem;
          margin-top: 12px;
        }

        .title-sub-header {
          font-size: 12px;
          line-height: 1.5rem;
          margin-top: 12px;
        }
      }
    }
  }
}
