<button
  nbButton
  ghost
  status="primary"
  (click)="viewEmployee()"
  [nbTooltip]="VIEW_EMPLOYEE"
  *ngIf="
    hasFeatureAccess(PERMISSION_ACTION_DESC.READ) &&
    (roleId === USER_ROLE.SDR ||
      roleId === USER_ROLE.MANAGER ||
      roleId === USER_ROLE.ADMIN)
  "
>
  <nb-icon icon="eye-outline"></nb-icon>
</button>
<button
  nbButton
  ghost
  status="primary"
  [nbTooltip]="VIEW_CAMPAIGN"
  (click)="viewCampaign()"
  *ngIf="
    hasFeatureAccess(PERMISSION_ACTION_DESC.READ) &&
    (roleId === USER_ROLE.SDR || roleId === USER_ROLE.MANAGER)
  "
>
  <nb-icon icon="keypad-outline"></nb-icon>
</button>
<button
  nbButton
  ghost
  status="primary"
  [nbTooltip]="VIEW_GROUPINGS"
  (click)="viewGroupings()"
  *ngIf="
    hasFeatureAccess(PERMISSION_ACTION_DESC.READ) &&
    roleId === USER_ROLE.MANAGER
  "
>
  <nb-icon icon="people-outline"></nb-icon>
</button>

<button
  nbButton
  ghost
  [status]="!!departmentId ? 'success' : 'primary'"
  [nbTooltip]="!!departmentId ? VIEW_DEPARTMENTS : ASSIGN_DEPARTMENTS"
  (click)="tagEmployeeDeparment()"
  *ngIf="
    hasFeatureAccess(PERMISSION_ACTION_DESC.CREATE) && roleId === USER_ROLE.SDR
  "
>
  <nb-icon icon="home-outline"></nb-icon>
</button>
