<nb-card>
  <nb-card-header>
    Campaign
    <button
      nbButton
      status="primary"
      size="small"
      class="float-right"
      (click)="toggleNewCampaign()"
      *ngIf="hasFeatureAccess(PERMISSION_ACTION_DESC.CREATE)"
    >
      New Campaign
    </button>
  </nb-card-header>

  <nb-card-body>
    <app-search-bar-input
      (onEnter)="search($event)"
      (onClear)="clearSearch()"
    ></app-search-bar-input>
    <ng-container *ngIf="showContent && campaignArr && campaignArr.length > 0">
      <ng-container *ngIf="showContent">
        <ag-grid-angular
          #agGrid
          class="ag-theme-alpine"
          [gridOptions]="gridOptions"
          [rowData]="campaignArr"
          [frameworkComponents]="frameworkComponents"
          [columnDefs]="columnDefs"
          (gridReady)="onGridReady($event)"
        >
        </ag-grid-angular>
      </ng-container>

      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Actions</th>
            <th scope="col"># of SDR</th>
            <th scope="col">Campaign Name</th>
            <th scope="col">Plan</th>
            <th scope="col">Client</th>
            <th scope="col">Started</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <ng-container *ngIf="!showContent">
          <tbody>
            <tr *ngFor="let item of fakeArr">
              <th scope="row">
                <ion-skeleton-text animated></ion-skeleton-text>
              </th>
              <td>
                <ion-skeleton-text animated></ion-skeleton-text>
              </td>
              <td>
                <ion-skeleton-text animated></ion-skeleton-text>
              </td>
              <td>
                <ion-skeleton-text animated></ion-skeleton-text>
              </td>
              <td>
                <ion-skeleton-text animated></ion-skeleton-text>
              </td>
              <td>
                <ion-skeleton-text animated></ion-skeleton-text>
              </td>
              <td>
                <ion-skeleton-text animated></ion-skeleton-text>
              </td>
            </tr>
          </tbody>
        </ng-container>
      </table>
    </ng-container>

    <ng-container *ngIf="showContent && campaignArr && campaignArr.length < 1">
      <app-no-assigned-campaigns></app-no-assigned-campaigns>
    </ng-container>
  </nb-card-body>
  <nb-card-footer *ngIf="campaignArr && campaignArr.length > 0">
    <nav>
      <app-pagination
        [itemsPerPage]="itemsPerPage"
        [totalItems]="totalItems"
        [currentPage]="currentPage"
        [hasPager]="true"
        (pageChanged)="pageChanged($event)"
      ></app-pagination>
    </nav>
  </nb-card-footer>
</nb-card>
