<!-- <ng-container *ngIf="showContent && schedulerArr && schedulerArr.length > 0">

</ng-container> -->
<app-scheduler-header
  [campaign]="campaign"
  [employee]="employee"
  [campaignId]="campaignId"
></app-scheduler-header>
<app-scheduler-main-listing
  [ngClass]="{ 'd-none': showContent && schedulerArr.length < 1 }"
  [schedulerData]="schedulerArr"
  [showLoading]="!showContent"
  [showNoRows]="false"
></app-scheduler-main-listing>

<ng-container *ngIf="showContent && schedulerArr && schedulerArr.length < 1">
  <app-no-assigned-scheduler></app-no-assigned-scheduler>
</ng-container>
