<nb-card class="list-card" size="medium">
  <nb-card-header>
    Add SDR to Groupings
    <button
      nbButton
      status="primary"
      ghost
      class="float-right"
      (click)="bsModalRef.hide()"
    >
      <nb-icon icon="close-outline"></nb-icon>
    </button>
  </nb-card-header>
  <nb-card-header>
    <app-search-bar-input
      (onEnter)="search($event)"
      (onClear)="clearSearch()"
    ></app-search-bar-input>
  </nb-card-header>
  <nb-card-body>
    <nb-list>
      <nb-list-item *ngFor="let user of employeesArr">
        <nb-user
          name="{{ user.firstName }} {{ user.lastName }}"
          [title]="user.email"
          [picture]="user.imageUrl"
        >
        </nb-user>
        <div class="">
          <button
            nbButton
            ghost
            status="danger"
            [disabled]="isSubmitting"
            nbTooltip="Add SDR"
            (click)="addSDR(user)"
          >
            <nb-icon icon="person-add-outline"></nb-icon>
          </button>
        </div>
      </nb-list-item>
    </nb-list>
  </nb-card-body>
</nb-card>
