@import '../../../../../../../shared/@theme/styles/theme';

app-employee-groupings-entry {
  .form {
    display: flex;
    flex-direction: column;

    .text-label {
      margin-top: 1.5rem;
    }
  }

  .search-input {
    margin-bottom: 1rem;
  }

  nb-card {
    &.size-small {
      height: 35rem !important;
    }
  }

  nb-list {
    nb-list-item {
      justify-content: space-between;
    }
  }
}
