<div class="lists row">
  <div class="col-md-8 col-lg-8 col-xxxl-8 order-1">
    <nb-card class="list-card" size="small">
      <nb-card-header>
        Sales Development Representative (SDR)
        <button
          nbButton
          status="primary"
          size="small"
          class="float-right"
          nbTooltip="Add New SDR"
          (click)="toggleAddSDR()"
        >
          Add
        </button>
      </nb-card-header>
      <app-search-bar-input
        (onEnter)="onSearch.emit($event)"
        (onClear)="onClearSearch.emit($event)"
      ></app-search-bar-input>
      <nb-list *ngIf="showContent">
        <nb-list-item *ngFor="let sdr of sdrData">
          <nb-user
            class="sdr-nb-user"
            size="large"
            name="{{ sdr.firstName }} {{ sdr.lastName }}"
            [title]="sdr.email"
            [picture]="sdr.imageUrl"
            [badgeText]="getSDRStatus(sdr?.statusId)?.label"
            [badgeStatus]="getSDRStatus(sdr?.statusId)?.class"
            badgePosition="bottom"
          >
          </nb-user>
          <div class="">
            <button
              nbButton
              ghost
              [status]="getSDRStatus(sdr?.statusId)?.class"
              [nbContextMenu]="sdrStatusArr"
              nbContextMenuTag="sdr-context-menu"
              (click)="toggleSDRUpdateStatus(sdr)"
            >
              <nb-icon icon="pricetags-outline"></nb-icon>
            </button>
            <button
              nbButton
              ghost
              status="primary"
              nbTooltip="Upload Scheduler"
              (click)="uploadScheduler(sdr)"
            >
              <nb-icon icon="cloud-upload-outline"></nb-icon>
            </button>
            <button
              nbButton
              ghost
              status="primary"
              nbTooltip="View Scheduler"
              (click)="viewCampaignScheduler(sdr)"
            >
              <nb-icon icon="calendar-outline"></nb-icon>
            </button>
            <button
              nbButton
              ghost
              status="primary"
              nbTooltip="Remove SDR"
              (click)="removeSDR(sdr)"
              [disabled]="isRemoving"
            >
              <nb-icon icon="trash-outline"></nb-icon>
            </button>
          </div>
        </nb-list-item>
      </nb-list>
      <ion-list *ngIf="!showContent">
        <ion-item *ngFor="let sdr of fakeArr">
          <ion-avatar slot="start">
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-avatar>
          <ion-label>
            <h3>
              <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
            </h3>
            <p>
              <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
            </p>
          </ion-label>
        </ion-item>
      </ion-list>
    </nb-card>
  </div>
  <div class="col-md-4 col-lg-4 col-xxxl-4 order-2">
    <nb-card class="list-card" size="tiny">
      <nb-card-header> Set Campaign Manager </nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-lg-12">
            <div class="form-control-group mt-2">
              <label class="label" for="input-name">Manager:</label>
              <nb-select
                selected="1"
                fullWidth
                id="employee"
                name="employee"
                [(ngModel)]="managerId"
              >
                <nb-option [value]="item.id" *ngFor="let item of managersData"
                  >{{ item.firstName }} {{ item.lastName }}
                </nb-option>
              </nb-select>
            </div>
          </div>
        </div>
      </nb-card-body>
      <nb-card-footer>
        <button
          nbButton
          status="primary"
          (click)="assignCampaignManager()"
          [nbSpinner]="isSettingManager"
          nbSpinnerStatus="success"
          [disabled]="isSettingManager"
        >
          Set
        </button>
        <button nbButton class="ml-1" nbTooltip="Unset Manager">Clear</button>
      </nb-card-footer>
    </nb-card>
  </div>
</div>
