app-campaign-details-sdr-tab {
  .sdr-nb-user {
    .user-container {
      .user-picture {
        nb-badge {
          &.position-bottom {
            bottom: -12px !important;
          }
        }
      }
    }
  }
}
