<nb-card class="list-card" size="small">
  <nb-card-header>
    Employees
    <button
      nbButton
      status="primary"
      ghost
      class="float-right"
      (click)="bsModalRef.hide()"
    >
      <nb-icon icon="close-outline"></nb-icon>
    </button>
  </nb-card-header>
  <nb-card-header>
    <app-search-bar-input
      (onEnter)="search($event)"
      (onClear)="clearSearch()"
    ></app-search-bar-input>
  </nb-card-header>
  <nb-card-body>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Actions</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Email</th>
          <th scope="col">Avatar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of employeeArr">
          <th scope="row">
            <button
              nbButton
              ghost
              status="primary"
              (click)="viewEmployee()"
              nbTooltip="View"
            >
              <nb-icon icon="eye-outline"></nb-icon>
            </button>
            <button nbButton ghost status="primary" nbTooltip="View Scheduler">
              <nb-icon icon="calendar-outline"></nb-icon>
            </button>
          </th>
          <td>{{ item.firstName }}</td>
          <td>{{ item.lastName }}</td>
          <td>{{ item.email }}</td>
          <td>
            <nb-user onlyPicture="true" [name]="item.firstName"> </nb-user>
          </td>
        </tr>
      </tbody>
    </table>
  </nb-card-body>
  <nb-card-footer>
    <nav>
      <app-pagination
        [itemsPerPage]="itemsPerPage"
        [totalItems]="totalItems"
        [currentPage]="currentPage"
        [hasPager]="true"
        (pageChanged)="pageChanged($event)"
      ></app-pagination>
    </nav>
  </nb-card-footer>
</nb-card>
