app-department-employees {
  nb-card {
    &.size-small {
      height: 35rem !important;
    }
  }

  nb-card-header {
    app-search-bar-input {
      .search-input {
        margin-bottom: 0 !important;
      }
    }
  }
}
