<nb-card>
  <nb-card-header>
    Add New Campaign
    <button
      nbButton
      status="primary"
      ghost
      class="float-right"
      (click)="bsModalRef.hide()"
    >
      <nb-icon icon="close-outline"></nb-icon>
    </button>
  </nb-card-header>
  <nb-card-body>
    <form class="form" novalidate [formGroup]="campaignForm">
      <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12">
          <div class="form-control-group mt-2">
            <label class="label" for="input-name">Name:</label>
            <input
              nbInput
              id="campaign-name"
              name="campaign-name"
              placeholder="Name"
              autofocus
              fullWidth
              fieldSize="large"
              formControlName="campaignName"
            />
            <ng-container
              *ngIf="
                (f.campaignName?.dirty || f.campaignName?.touched) &&
                f.campaignName?.invalid &&
                f.campaignName.errors
              "
            >
              <p
                class="caption status-danger"
                *ngIf="f.campaignName.errors?.required"
              >
                Campaign Name is required!
              </p>
            </ng-container>
          </div>

          <div class="form-control-group mt-2">
            <label class="label" for="input-name">Client:</label>
            <input
              nbInput
              id="campaign-client"
              name="campaign-client"
              placeholder="Client"
              autofocus
              fullWidth
              fieldSize="large"
              formControlName="client"
            />
            <ng-container
              *ngIf="
                (f.client?.dirty || f.client?.touched) &&
                f.client?.invalid &&
                f.client.errors
              "
            >
              <p
                class="caption status-danger"
                *ngIf="f.client.errors?.required"
              >
                Client Name is required!
              </p>
            </ng-container>
          </div>

          <div class="form-control-group mt-2">
            <label class="label" for="input-name">Client email:</label>
            <input
              nbInput
              type="email"
              id="campaign-client-email"
              name="campaign-client-email"
              placeholder="Client email"
              autofocus
              fullWidth
              fieldSize="large"
              formControlName="clientEmail"
            />
            <ng-container
              *ngIf="
                (f.clientEmail?.dirty || f.clientEmail?.touched) &&
                f.clientEmail?.invalid &&
                f.clientEmail.errors
              "
            >
              <p
                class="caption status-danger"
                *ngIf="f.clientEmail?.errors?.required"
              >
                Client Email is required.
              </p>
              <p
                class="caption status-danger"
                *ngIf="f.clientEmail?.errors?.pattern"
              >
                Client Email must be a valid email address
              </p>
            </ng-container>
          </div>

          <div class="form-control-group mt-2">
            <label class="label" for="input-name">Launch Date:</label>
            <input
              nbInput
              id="campaign-launch-date"
              name="campaign-launch-date"
              [nbDatepicker]="datepicker"
              placeholder="MM/DD/YYYY"
              autofocus
              fullWidth
              fieldSize="large"
              formControlName="started"
            />
            <nb-datepicker #datepicker></nb-datepicker>
            <ng-container
              *ngIf="
                (f.started?.dirty || f.started?.touched) &&
                f.started?.invalid &&
                f.started.errors
              "
            >
              <p
                class="caption status-danger"
                *ngIf="f.started.errors?.required"
              >
                Launch Date is required!
              </p>
            </ng-container>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
          <div class="form-control-group mt-2">
            <label class="label" for="input-name">Subscription Plan:</label>
            <input
              nbInput
              id="campaign-plan"
              name="campaign-plan"
              placeholder="Subscription Plan"
              autofocus
              fullWidth
              fieldSize="large"
              formControlName="plan"
            />
            <ng-container
              *ngIf="
                (f.plan?.dirty || f.plan?.touched) &&
                f.plan?.invalid &&
                f.plan.errors
              "
            >
              <p class="caption status-danger" *ngIf="f.plan.errors?.required">
                Subscription Plan is required!
              </p>
            </ng-container>
          </div>

          <div class="form-control-group mt-2">
            <label class="label" for="input-name">Account Executive:</label>
            <nb-select
              fullWidth
              id="campaign-account-executive"
              name="campaign-account-executive"
              formControlName="accountsExecutiveId"
              placeholder="Account Executive"
              size="large"
            >
              <nb-option [value]="item.id" *ngFor="let item of employeeArr"
                >{{ item.firstName }} {{ item.lastName }}
              </nb-option>
            </nb-select>
          </div>

          <div class="form-control-group mt-2">
            <label class="label" for="input-name">Trello Editor:</label>
            <nb-select
              fullWidth
              id="campaign-trello-edito"
              name="campaign-trello-edito"
              placeholder="Trello Editor"
              formControlName="trelloEditorId"
              size="large"
            >
              <nb-option [value]="item.id" *ngFor="let item of employeeArr"
                >{{ item.firstName }} {{ item.lastName }}
              </nb-option>
            </nb-select>
          </div>

          <div class="form-control-group mt-2">
            <label class="label" for="input-name">Campaign Type:</label>
            <nb-select
              fullWidth
              id="campaign-type"
              name="campaign-type"
              placeholder="Campaign Type"
              formControlName="campaignType"
              size="large"
            >
              <nb-option [value]="item.id" *ngFor="let item of campaignTypeArr"
                >{{ item.name }}
              </nb-option>
            </nb-select>
            <ng-container
              *ngIf="
                (f.campaignType?.dirty || f.campaignType?.touched) &&
                f.campaignType?.invalid &&
                f.campaignType.errors
              "
            >
              <p
                class="caption status-danger"
                *ngIf="f.campaignType.errors?.required"
              >
                Campaign Type is required!
              </p>
            </ng-container>
          </div>
        </div>
      </div>
    </form>
  </nb-card-body>
  <nb-card-footer>
    <button
      nbButton
      status="primary"
      [nbSpinner]="isSubmitting"
      nbSpinnerStatus="primary"
      [disabled]="isSubmitting || campaignForm.invalid"
      (click)="createCampaign()"
    >
      {{ buttonLabel }}
    </button>
    <button nbButton class="ml-1" (click)="bsModalRef.hide()">Cancel</button>
  </nb-card-footer>
</nb-card>
