<div class="title">
  <img src="./assets/logo/logo.png" />
  <img src="./assets/logo/banner.png" />
</div>

<h3 id="title" class="title">Thank you for joining!</h3>
<p class="sub-title mt-5">
  Your registration has been submitted. A site admin still needs to review and
  approve your account. You will received an email with a temporary password
  where you can use to login when this happens, but until then you will not be able to log in or
  view any content.
</p>

<section class="another-action mt-5" aria-label="Sign in">
  Already have an account? <a class="text-link" routerLink="../login">Log in</a>
</section>
