<div class="d-inline-flex" [nbTooltip]="MORE_ACTION.VIEW.LABEL">
  <button
    nbButton
    ghost
    status="basic"
    nbContextMenuTag="view-payroll-context-menu"
    nbContextMenuTrigger="click"
    (click)="onViewPayroll()"
  >
    <nb-icon icon="eye-outline"></nb-icon>
  </button>
</div>
