<nb-card>
  <nb-card-header> Change Password </nb-card-header>
  <nb-card-body>
    <form class="form" [formGroup]="resetForm">
      <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12">
          <div class="form-control-group">
            <label class="label" for="input-password">Current Password:</label>
            <nb-form-field>
              <nb-icon
                nbSuffix
                icon="eye-outline"
                pack="eva"
                (click)="showPassword(currentPassword)"
                *ngIf="currentPassword.type == 'password'"
              ></nb-icon>
              <nb-icon
                nbSuffix
                icon="eye-off-outline"
                pack="eva"
                (click)="showPassword(currentPassword)"
                *ngIf="currentPassword.type == 'text'"
              ></nb-icon>
              <input
                nbInput
                type="password"
                id="input-password"
                name="password"
                class="first"
                placeholder="Current Password"
                autofocus
                fullWidth
                fieldSize="large"
                #currentPassword
                formControlName="currentPassword"
              />
            </nb-form-field>
            <ng-container
              *ngIf="
                (f.currentPassword?.dirty || f.currentPassword?.touched) &&
                f.currentPassword?.invalid &&
                f.currentPassword.errors
              "
            >
              <p
                class="caption status-danger"
                *ngIf="f.currentPassword.errors?.required"
              >
                Current Password is required!
              </p>
              <p
                class="caption status-danger"
                *ngIf="f.currentPassword?.errors?.minlength"
              >
                Current Password must be at least 6 characters length.
              </p>
              <p
                class="caption status-danger"
                *ngIf="f.currentPassword?.errors?.pattern"
              >
                Invalid Password. 1 lowercase letter, 1 uppercase letter, at
                least 1 number, at least 6 characters
              </p>
            </ng-container>
          </div>

          <div class="form-control-group">
            <label class="label" for="input-password">New Password:</label>
            <nb-form-field>
              <nb-icon
                nbSuffix
                icon="eye-outline"
                pack="eva"
                (click)="showPassword(newPassword)"
                *ngIf="newPassword.type == 'password'"
              ></nb-icon>
              <nb-icon
                nbSuffix
                icon="eye-off-outline"
                pack="eva"
                (click)="showPassword(newPassword)"
                *ngIf="newPassword.type == 'text'"
              ></nb-icon>
              <input
                nbInput
                type="password"
                id="input-new-password"
                name="password"
                class="first"
                placeholder="New Password"
                autofocus
                fullWidth
                fieldSize="large"
                #newPassword
                formControlName="newPassword"
              />
            </nb-form-field>
            <ng-container
              *ngIf="
                (f.newPassword?.dirty || f.newPassword?.touched) &&
                f.newPassword?.invalid &&
                f.newPassword.errors
              "
            >
              <p
                class="caption status-danger"
                *ngIf="f.newPassword.errors?.required"
              >
                New Password is required!
              </p>
              <p
                class="caption status-danger"
                *ngIf="f.newPassword?.errors?.minlength"
              >
                New Password must be at least 6 characters length.
              </p>
              <p
                class="caption status-danger"
                *ngIf="f.newPassword?.errors?.pattern"
              >
                Invalid Password. 1 lowercase letter, 1 uppercase letter, at
                least 1 number, at least 6 characters
              </p>
            </ng-container>
          </div>

          <div class="form-group">
            <label class="label" for="input-re-password"
              >Confirm Password:</label
            >
            <nb-form-field>
              <nb-icon
                nbSuffix
                icon="eye-outline"
                pack="eva"
                (click)="showPassword(confirmPassword)"
                *ngIf="confirmPassword.type == 'password'"
              ></nb-icon>
              <nb-icon
                nbSuffix
                icon="eye-off-outline"
                pack="eva"
                (click)="showPassword(confirmPassword)"
                *ngIf="confirmPassword.type == 'text'"
              ></nb-icon>
              <input
                nbInput
                id="input-re-password"
                name="rePass"
                type="password"
                class="last"
                placeholder="Confirm Password"
                fullWidth
                fieldSize="large"
                #confirmPassword
                formControlName="confirmPassword"
              />
            </nb-form-field>
            <ng-container
              *ngIf="
                (f.confirmPassword?.dirty || f.confirmPassword?.touched) &&
                f.confirmPassword?.invalid &&
                f.confirmPassword.errors
              "
            >
              <p
                class="caption status-danger"
                *ngIf="f.confirmPassword.errors?.required"
              >
                Confirm Password is required!
              </p>
              <p
                class="caption status-danger"
                *ngIf="f.confirmPassword?.errors?.minlength"
              >
                Confirm Password must be at least 6 characters length.
              </p>
              <p
                class="caption status-danger"
                *ngIf="f.confirmPassword?.errors?.pattern"
              >
                Invalid Password. 1 lowercase letter, 1 uppercase letter, at
                least 1 number, at least 6 characters
              </p>
            </ng-container>
          </div>
        </div>
      </div>
    </form>
  </nb-card-body>
  <nb-card-footer>
    <button
      nbButton
      class="ml-1"
      status="primary"
      (click)="resetPass()"
      [nbSpinner]="isSubmitting"
      nbSpinnerStatus="primary"
      [disabled]="isSubmitting || resetForm.invalid"
    >
      Update
    </button>
  </nb-card-footer>
</nb-card>
