<nav>
  <pagination
    boundaryLinks="true"
    previousText="&lsaquo;"
    nextText="&rsaquo;"
    firstText="&laquo;"
    lastText="&raquo;"
    [disabled]="disabled"
    [maxSize]="maxSize"
    [itemsPerPage]="itemsPerPage"
    [totalItems]="totalItems"
    [(ngModel)]="currentPage"
    (numPages)="numOfPages = $event"
    (pageChanged)="onPageChanged.emit($event)"
  ></pagination>
  <div class="mb-3 pager" *ngIf="hasPager">
    <strong>[{{ currentPage }}]</strong> to
    <strong>[{{ numOfPages }}]</strong> of <strong>[{{ totalItems }}]</strong>
  </div>
</nav>
