app-pagination {
  nav {
    position: relative;
  }

  pagination {
    .pagination {
      .page-item {
        .page-link {
          text-decoration: none !important;
        }
      }
    }
  }

  .pager {
    position: absolute;
    right: 0;
    top: 0;
    padding-top: 10px;
  }
}
