<nb-card>
  <nb-card-header>
    Payroll
    <!-- <button nbButton status="primary" size="small" class="float-right">
      New Department
    </button> -->
  </nb-card-header>

  <nb-card-body>
    <app-search-bar-input></app-search-bar-input>
    <app-payroll-main></app-payroll-main>
  </nb-card-body>
  <nb-card-footer> </nb-card-footer>
</nb-card>
