<nb-card>
  <!-- <nb-card-header>
    Update Information
    <button
      nbButton
      status="primary"
      ghost
      class="float-right"
      (click)="bsModalRef.hide()"
    >
      <nb-icon icon="close-outline"></nb-icon>
    </button>
  </nb-card-header> -->
  <nb-card-body>
    <form class="form" novalidate [formGroup]="schedulerForm">
      <nb-tabset>
        <nb-tab tabTitle="Information">
          <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12">
              <div class="form-control-group mt-2">
                <label class="label" for="input-name">First Name:</label>
                <input
                  nbInput
                  id="firstName"
                  name="firstName"
                  placeholder="First Name"
                  autofocus
                  fullWidth
                  fieldSize="large"
                  formControlName="firstName"
                />
              </div>

              <div class="form-control-group mt-2">
                <label class="label" for="input-name">Last Name:</label>
                <input
                  nbInput
                  id="lastName"
                  name="lastName"
                  placeholder="Last Name"
                  autofocus
                  fullWidth
                  fieldSize="large"
                  formControlName="lastName"
                />
              </div>

              <div class="form-control-group mt-2">
                <label class="label" for="input-name">Job Title:</label>
                <input
                  nbInput
                  id="jobTitle"
                  name="jobTitle"
                  placeholder="Job Title"
                  autofocus
                  fullWidth
                  fieldSize="large"
                  formControlName="jobTitle"
                />
              </div>

              <div class="form-control-group mt-2">
                <label class="label" for="input-name">Company:</label>
                <input
                  nbInput
                  id="company"
                  name="company"
                  placeholder="Company"
                  autofocus
                  fullWidth
                  fieldSize="large"
                  formControlName="company"
                />
              </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
              <div class="form-control-group mt-2">
                <label class="label" for="input-name">Industry:</label>
                <input
                  nbInput
                  id="industry"
                  name="industry"
                  placeholder="Industry"
                  autofocus
                  fullWidth
                  fieldSize="large"
                  formControlName="industry"
                />
              </div>

              <div class="form-control-group mt-2">
                <label class="label" for="input-name">City:</label>
                <input
                  nbInput
                  id="city"
                  name="city"
                  placeholder="City"
                  autofocus
                  fullWidth
                  fieldSize="large"
                  formControlName="city"
                />
              </div>

              <div class="form-control-group mt-2">
                <label class="label" for="input-name">State:</label>
                <input
                  nbInput
                  id="state"
                  name="state"
                  placeholder="State"
                  autofocus
                  fullWidth
                  fieldSize="large"
                  formControlName="state"
                />
              </div>

              <div class="form-control-group mt-2">
                <label class="label" for="input-name">LinkedIn URL:</label>
                <input
                  nbInput
                  id="linkedInUrl"
                  name="linkedInUrl"
                  placeholder="LinkedIn URL"
                  autofocus
                  fullWidth
                  fieldSize="large"
                  formControlName="linkedInUrl"
                />
              </div>
            </div>
          </div>
        </nb-tab>
        <nb-tab tabTitle="Request/Response">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <div class="card mt-2">
                <div class="card-body">
                  <ion-list>
                    <ion-item>
                      <ion-label class="ion-text-wrap">{{
                        CAMPAIGN_CONTENT.INVITE_MESSAGE.LABEL
                      }}</ion-label>
                      <nb-checkbox
                        status="primary"
                        formControlName="connectionRequest"
                        slot="start"
                      ></nb-checkbox>
                      <ion-button
                        slot="end"
                        nbTooltip="View {{
                          CAMPAIGN_CONTENT.INVITE_MESSAGE.LABEL
                        }}"
                        (click)="
                          viewContent(
                            CAMPAIGN_CONTENT.INVITE_MESSAGE.KEY,
                            CAMPAIGN_CONTENT.INVITE_MESSAGE.LABEL
                          )
                        "
                      >
                        View
                      </ion-button>
                    </ion-item>
                    <ion-item>
                      <ion-label class="ion-text-wrap"
                        >Request Accepted / Rapport Message</ion-label
                      >
                      <nb-checkbox
                        status="primary"
                        formControlName="requestAccepted"
                        slot="start"
                      ></nb-checkbox>
                    </ion-item>
                  </ion-list>
                </div>
              </div>
              <div class="card mt-2">
                <div class="card-body">
                  <ion-list>
                    <ion-item>
                      <ion-label class="ion-text-wrap"
                        >Neutral/Positive Responses</ion-label
                      >
                      <nb-checkbox
                        status="primary"
                        formControlName="neutral"
                        slot="start"
                      ></nb-checkbox>
                    </ion-item>
                    <ion-item>
                      <ion-label class="ion-text-wrap"
                        >Negative/No follow up</ion-label
                      >
                      <nb-checkbox
                        status="primary"
                        formControlName="negative"
                        slot="start"
                      ></nb-checkbox>
                    </ion-item>
                  </ion-list>
                </div>
              </div>
            </div>
          </div>
        </nb-tab>
        <nb-tab tabTitle="Message">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <nb-card>
                <nb-card-body>
                  <ion-list>
                    <ion-item>
                      <ion-label>{{
                        CAMPAIGN_CONTENT.MESSAGE_1.LABEL | uppercase
                      }}</ion-label>
                      <nb-checkbox
                        status="primary"
                        formControlName="isMessage1"
                        slot="start"
                      ></nb-checkbox>
                      <ion-button
                        slot="end"
                        nbTooltip="View {{ CAMPAIGN_CONTENT.MESSAGE_1.LABEL }}"
                        (click)="
                          viewContent(
                            CAMPAIGN_CONTENT.MESSAGE_1.KEY,
                            CAMPAIGN_CONTENT.MESSAGE_1.LABEL
                          )
                        "
                      >
                        View
                      </ion-button>
                    </ion-item>
                    <ion-item>
                      <ion-label>{{
                        CAMPAIGN_CONTENT.MESSAGE_2.LABEL | uppercase
                      }}</ion-label>
                      <nb-checkbox
                        status="primary"
                        formControlName="isMessage2"
                        slot="start"
                      ></nb-checkbox>
                      <ion-button
                        slot="end"
                        nbTooltip="View {{
                          CAMPAIGN_CONTENT.MESSAGE_2.LABEL
                        }}"
                        (click)="
                          viewContent(
                            CAMPAIGN_CONTENT.MESSAGE_2.KEY,
                            CAMPAIGN_CONTENT.MESSAGE_2.LABEL
                          )
                        "
                      >
                        View
                      </ion-button>
                    </ion-item>
                    <ion-item>
                      <ion-label>{{
                        CAMPAIGN_CONTENT.MESSAGE_3.LABEL | uppercase
                      }}</ion-label>
                      <nb-checkbox
                        status="primary"
                        formControlName="isMessage3"
                        slot="start"
                      ></nb-checkbox>
                      <ion-button
                        slot="end"
                        nbTooltip="View {{ CAMPAIGN_CONTENT.MESSAGE_3.LABEL }}"
                        (click)="
                          viewContent(
                            CAMPAIGN_CONTENT.MESSAGE_3.KEY,
                            CAMPAIGN_CONTENT.MESSAGE_3.LABEL
                          )
                        "
                      >
                        View
                      </ion-button>
                    </ion-item>
                    <ion-item>
                      <ion-label>{{
                        CAMPAIGN_CONTENT.MESSAGE_4.LABEL | uppercase
                      }}</ion-label>
                      <nb-checkbox
                        status="primary"
                        formControlName="isMessage4"
                        slot="start"
                      ></nb-checkbox>
                      <ion-button
                        slot="end"
                        nbTooltip="View {{ CAMPAIGN_CONTENT.MESSAGE_4.LABEL }}"
                        (click)="
                          viewContent(
                            CAMPAIGN_CONTENT.MESSAGE_4.KEY,
                            CAMPAIGN_CONTENT.MESSAGE_4.LABEL
                          )
                        "
                      >
                        View
                      </ion-button>
                    </ion-item>
                    <ion-item>
                      <ion-label>{{
                        CAMPAIGN_CONTENT.MESSAGE_5.LABEL | uppercase
                      }}</ion-label>
                      <nb-checkbox
                        status="primary"
                        formControlName="isMessage5"
                        slot="start"
                      ></nb-checkbox>
                      <ion-button
                        slot="end"
                        nbTooltip="View {{ CAMPAIGN_CONTENT.MESSAGE_5.LABEL }}"
                        (click)="
                          viewContent(
                            CAMPAIGN_CONTENT.MESSAGE_5.KEY,
                            CAMPAIGN_CONTENT.MESSAGE_5.LABEL
                          )
                        "
                      >
                        View
                      </ion-button>
                    </ion-item>
                  </ion-list>
                </nb-card-body>
              </nb-card>
            </div>
          </div>
        </nb-tab>
      </nb-tabset>
    </form>
  </nb-card-body>
  <nb-card-footer>
    <!-- <button nbButton status="primary">Update</button> -->
    <!-- <button nbButton class="ml-1" (click)="bsModalRef.hide()">Cancel</button> -->
  </nb-card-footer>
</nb-card>
