<h1 id="title" class="title">Change password</h1>
<p class="sub-title">Please set a new password</p>

<form (ngSubmit)="resetPass()" [formGroup]="resetForm" aria-labelledby="title">
  <div class="form-control-group">
    <label class="label" for="input-password">Current Password:</label>
    <nb-form-field>
      <nb-icon
        nbSuffix
        icon="eye-outline"
        pack="eva"
        (click)="showPassword(currentPassword)"
        *ngIf="currentPassword.type == 'password'"
      ></nb-icon>
      <nb-icon
        nbSuffix
        icon="eye-off-outline"
        pack="eva"
        (click)="showPassword(currentPassword)"
        *ngIf="currentPassword.type == 'text'"
      ></nb-icon>
      <input
        nbInput
        type="password"
        id="input-password"
        name="password"
        class="first"
        placeholder="Current Password"
        autofocus
        fullWidth
        fieldSize="large"
        #currentPassword
        formControlName="currentPassword"
      />
    </nb-form-field>
  </div>

  <div class="form-control-group">
    <label class="label" for="input-password">New Password:</label>
    <nb-form-field>
      <nb-icon
        nbSuffix
        icon="eye-outline"
        pack="eva"
        (click)="showPassword(newPassword)"
        *ngIf="newPassword.type == 'password'"
      ></nb-icon>
      <nb-icon
        nbSuffix
        icon="eye-off-outline"
        pack="eva"
        (click)="showPassword(newPassword)"
        *ngIf="newPassword.type == 'text'"
      ></nb-icon>
      <input
        nbInput
        type="password"
        id="input-password"
        name="password"
        class="first"
        placeholder="New Password"
        autofocus
        fullWidth
        fieldSize="large"
        #newPassword
        formControlName="newPassword"
      />
    </nb-form-field>
  </div>

  <div class="form-group">
    <label class="label" for="input-re-password">Confirm Password:</label>
    <nb-form-field>
      <nb-icon
        nbSuffix
        icon="eye-outline"
        pack="eva"
        (click)="showPassword(confirmPassword)"
        *ngIf="confirmPassword.type == 'password'"
      ></nb-icon>
      <nb-icon
        nbSuffix
        icon="eye-off-outline"
        pack="eva"
        (click)="showPassword(confirmPassword)"
        *ngIf="confirmPassword.type == 'text'"
      ></nb-icon>
      <input
        nbInput
        id="input-re-password"
        name="rePass"
        type="password"
        class="last"
        placeholder="Confirm Password"
        fullWidth
        fieldSize="large"
        #confirmPassword
        formControlName="confirmPassword"
      />
    </nb-form-field>
  </div>

  <button
    nbButton
    status="primary"
    fullWidth
    size="large"
    [disabled]="isSubmitting || !resetForm.valid"
    [class.btn-pulse]="isSubmitting"
    [nbSpinner]="isSubmitting"
    nbSpinnerStatus="success"
  >
    Change password
  </button>
</form>

<section class="sign-in-or-up" aria-label="Sign in or sign up">
  <p><a class="text-link" routerLink="../login">Back to Log In</a></p>
  <p><a class="text-link" routerLink="../register">Register</a></p>
</section>
