@import '../../../../../../shared/@theme/styles/theme';

app-scheduler-contacts-card {
  nb-card {
    overflow: hidden;
  }

  nb-tabset {
    display: flex;
    flex-direction: column;

    ::ng-deep ul {
      // make same size as card header
      padding-bottom: 1px;
      ::ng-deep .tab-link {
        padding: 1.25rem 2rem;
      }
    }
  }

  nb-tab {
    padding: 0;
  }

  .contact {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:first-child {
      border-top: none;
    }
  }
}
