app-campaign-details {
  nb-list {
    nb-list-item {
      justify-content: space-between;
    }
  }

  .search-input {
    margin-top: 1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
  }

  nb-card {
    &.size-tiny {
      height: 15rem !important;
    }

    &.size-small {
      height: 35rem !important;
    }
  }
}
