<app-back-header></app-back-header>
<nb-tabset>
  <nb-tab tabTitle="Information">
    <app-campaign-details-info-tab
      [managerId]="managerId"
      [campaignId]="campaignId"
      [campaign]="campaign"
      (onRefreshComponent)="getCampaign(campaignId)"
    ></app-campaign-details-info-tab>
  </nb-tab>
  <nb-tab tabTitle="SDR">
    <app-campaign-details-sdr-tab
      [managerId]="managerId"
      [campaignId]="campaignId"
      [showContent]="showContent"
      [managersData]="managersArr"
      [sdrData]="sdrArr"
      [campaign]="campaign"
      (onRefreshComponent)="getCampaign(campaignId)"
      (onSearch)="search($event)"
      (onClearSearch)="clearSearch()"
    ></app-campaign-details-sdr-tab>
  </nb-tab>
  <nb-tab tabTitle="Content">
    <app-campaign-details-content-tab
      [managerId]="managerId"
      [campaignId]="campaignId"
      [campaign]="campaign"
      (onRefreshComponent)="getCampaign(campaignId)"
    ></app-campaign-details-content-tab>
  </nb-tab>
</nb-tabset>
