<nb-tabset>
  <nb-tab tabTitle="Details">
    <div class="d-flex justify-content-between align-items-center">
      <small class="mb-2 font-weight-bold">Campaign</small>
      <small class="font-weight-light">{{ campaign?.campaignName }}</small>
    </div>
    <div class="d-flex justify-content-between align-items-center">
      <small class="mb-2 font-weight-bold">Client</small>
      <small class="font-weight-light">{{ campaign?.client }}</small>
    </div>
    <div class="d-flex justify-content-between align-items-center">
      <small class="mb-2 font-weight-bold">Client Email</small>
      <small class="font-weight-light">{{ campaign?.clientEmail }}</small>
    </div>
    <div class="d-flex justify-content-between align-items-center">
      <small class="mb-2 font-weight-bold">SDR</small>
      <small class="font-weight-light"></small>
    </div>
    <div class="d-flex justify-content-between align-items-center">
      <small class="mb-2 font-weight-bold">SDRM</small>
      <small class="font-weight-light"></small>
    </div>
    <div class="d-flex justify-content-between align-items-center">
      <small class="mb-2 font-weight-bold">Accnt Executive</small>
      <small class="font-weight-light">
        <!-- {{campaign?.accountsExecutive}} -->
      </small>
    </div>
    <div class="d-flex justify-content-between align-items-center">
      <small class="mb-2 font-weight-bold">Trello Editor</small>
      <small class="font-weight-light">
        <!-- {{ campaign?.trelloEditor }} -->
      </small>
    </div>
    <div class="d-flex justify-content-between align-items-center">
      <small class="mb-2 font-weight-bold">Launch Date</small>
      <small class="font-weight-light">{{
        campaign?.started | date: 'mediumDate'
      }}</small>
    </div>
    <div class="d-flex justify-content-between align-items-center">
      <small class="mb-2 font-weight-bold">Modified</small>
      <small class="font-weight-light"></small>
    </div>
  </nb-tab>
  <nb-tab tabTitle="Content Sequence">
    <ion-list>
      <ion-item>
        <ion-label>{{ CAMPAIGN_CONTENT.INVITE_MESSAGE.LABEL }}</ion-label>
        <ion-button
          slot="end"
          (click)="
            viewContent(
              CAMPAIGN_CONTENT.INVITE_MESSAGE.KEY,
              CAMPAIGN_CONTENT.INVITE_MESSAGE.LABEL
            )
          "
        >
          View
        </ion-button>
      </ion-item>
      <ion-item>
        <ion-label>{{ CAMPAIGN_CONTENT.MESSAGE_1.LABEL }}</ion-label>
        <ion-button
          slot="end"
          (click)="
            viewContent(
              CAMPAIGN_CONTENT.MESSAGE_1.KEY,
              CAMPAIGN_CONTENT.MESSAGE_1.LABEL
            )
          "
        >
          View
        </ion-button>
      </ion-item>
      <ion-item>
        <ion-label>{{ CAMPAIGN_CONTENT.MESSAGE_2.LABEL }}</ion-label>
        <ion-button
          slot="end"
          (click)="
            viewContent(
              CAMPAIGN_CONTENT.MESSAGE_2.KEY,
              CAMPAIGN_CONTENT.MESSAGE_2.LABEL
            )
          "
        >
          View
        </ion-button>
      </ion-item>
      <ion-item>
        <ion-label>{{ CAMPAIGN_CONTENT.MESSAGE_3.LABEL }}</ion-label>
        <ion-button
          slot="end"
          (click)="
            viewContent(
              CAMPAIGN_CONTENT.MESSAGE_3.KEY,
              CAMPAIGN_CONTENT.MESSAGE_3.LABEL
            )
          "
        >
          View
        </ion-button>
      </ion-item>
      <ion-item>
        <ion-label>{{ CAMPAIGN_CONTENT.MESSAGE_4.LABEL }}</ion-label>
        <ion-button
          slot="end"
          (click)="
            viewContent(
              CAMPAIGN_CONTENT.MESSAGE_4.KEY,
              CAMPAIGN_CONTENT.MESSAGE_4.LABEL
            )
          "
        >
          View
        </ion-button>
      </ion-item>
      <ion-item>
        <ion-label>{{ CAMPAIGN_CONTENT.MESSAGE_5.LABEL }}</ion-label>
        <ion-button
          slot="end"
          (click)="
            viewContent(
              CAMPAIGN_CONTENT.MESSAGE_5.KEY,
              CAMPAIGN_CONTENT.MESSAGE_5.LABEL
            )
          "
        >
          View
        </ion-button>
      </ion-item>
    </ion-list>
  </nb-tab>
  <!-- <nb-tab tabTitle="Activity"> Activity </nb-tab> -->
</nb-tabset>
