@mixin nb-auth-block-theme() {
  nb-auth-block {
    .text-link {
      color: nb-theme(text-hint-color);
    }

    .forgot-password {
      color: nb-theme(text-disabled-color);
    }

    .socials a {
      color: nb-theme(text-hint-color);
    }
  }
}


:host {
  display: block;
  width: 100%;
  max-width: 35rem;

  ::ng-deep {
    form {
      width: 100%;
    }

    .label {
      display: block;
      margin-bottom: 0.5rem;
    }

    .forgot-password {
      text-decoration: none;
      margin-bottom: 0.5rem;
    }

    .caption {
      margin-top: 0.5rem;
    }

    .alert {
      text-align: center;
    }

    .title {
      margin-top: 0;
      margin-bottom: 0.75rem;
      text-align: center;
    }

    .sub-title {
      margin-bottom: 2rem;
      text-align: center;
    }

    .form-control-group {
      margin-bottom: 2rem;
    }

    .form-control-group.accept-group {
      display: flex;
      justify-content: space-between;
      margin: 2rem 0;
    }

    .label-with-link {
      display: flex;
      justify-content: space-between;
    }

    .links {
      text-align: center;
      margin-top: 1.75rem;

      .socials {
        margin-top: 1.5rem;
      }

      .socials a {
        margin: 0 1rem;
        text-decoration: none;
        vertical-align: middle;

        &.with-icon {
          font-size: 2rem;
        }
      }
    }

    .another-action {
      margin-top: 2rem;
      text-align: center;
    }

    .sign-in-or-up {
      margin-top: 2rem;
      display: flex;
      justify-content: space-between;
    }

    nb-alert {
      .alert-title,
      .alert-message {
        margin: 0 0 0.5rem;
      }
      .alert-message-list {
        list-style-type: none;
        padding: 0;
        margin: 0;
      }
    }
  }
}
