<nb-card>
  <nb-tabset (changeTab)="onChangeTab($event)">
    <nb-tab
      [tabTitle]="tabAll"
      [tabId]="tabAll"
      [active]="activeTab === tabAll"
      *ngIf="user.role === USER_ROLE.ADMIN"
    >
      <app-all-staffs-tab></app-all-staffs-tab>
    </nb-tab>
    <nb-tab
      [tabTitle]="tabAdmins"
      [tabId]="tabAdmins"
      [active]="activeTab === tabAdmins"
      *ngIf="user.role === USER_ROLE.ADMIN"
    >
      <app-admin-tab></app-admin-tab>
    </nb-tab>
    <nb-tab
      [tabTitle]="tabSDRM"
      [tabId]="tabSDRM"
      [active]="activeTab === tabSDRM"
      *ngIf="user.role === USER_ROLE.ADMIN"
    >
      <app-manager-tab></app-manager-tab>
    </nb-tab>
    <nb-tab
      [tabTitle]="tabSDR"
      [tabId]="tabSDR"
      [active]="activeTab === tabSDR"
      *ngIf="user.role === USER_ROLE.ADMIN || user.role === USER_ROLE.MANAGER"
    >
      <app-employee-tab></app-employee-tab>
    </nb-tab>
  </nb-tabset>
</nb-card>
