<div class="d-inline-flex" [nbTooltip]="MORE_ACTION.CONNECTION_REQUEST.LABEL">
  <button
    nbButton
    ghost
    [status]="this.isConnectionRequest ? 'success' : 'basic'"
    [nbContextMenu]="connectionRequestArr"
    nbContextMenuTag="connection-request-context-menu"
    nbContextMenuTrigger="click"
    (click)="onConnectionRequest()"
  >
    <nb-icon icon="link-2-outline"></nb-icon>
  </button>
</div>
<div
  class="d-inline-flex"
  [nbTooltip]="MORE_ACTION.CONNECTION_REQUEST_ACCEPTED.LABEL"
>
  <button
    nbButton
    ghost
    [status]="requestConnectedStatus()"
    [nbContextMenu]="requestAcceptedArr"
    nbContextMenuTrigger="click"
    nbContextMenuTag="request-accepted-context-menu"
    (click)="onRequestAccepted()"
  >
    <nb-icon icon="link-outline"></nb-icon>
  </button>
</div>
<div class="d-inline-flex" [nbTooltip]="MORE_ACTION.MESSAGE_1.LABEL">
  <button
    nbButton
    ghost
    [status]="this.isMessage1 ? 'success' : 'basic'"
    [nbContextMenu]="message1RequestArr"
    nbContextMenuTrigger="click"
    nbContextMenuTag="message-1-context-menu"
    (click)="onMessageSent()"
  >
    <nb-icon icon="message-square-outline"></nb-icon>
  </button>
</div>
<div class="d-inline-flex" [nbTooltip]="MORE_ACTION.MESSAGE_2.LABEL">
  <button
    nbButton
    ghost
    [status]="this.isMessage2 ? 'success' : 'basic'"
    [nbContextMenu]="message2RequestArr"
    nbContextMenuTrigger="click"
    nbContextMenuTag="message-2-context-menu"
    (click)="onMessageSent()"
  >
    <nb-icon icon="message-square-outline"></nb-icon>
  </button>
</div>
<div class="d-inline-flex" [nbTooltip]="MORE_ACTION.MESSAGE_3.LABEL">
  <button
    nbButton
    ghost
    [status]="this.isMessage3 ? 'success' : 'basic'"
    [nbContextMenu]="message3RequestArr"
    nbContextMenuTrigger="click"
    nbContextMenuTag="message-3-context-menu"
    (click)="onMessageSent()"
  >
    <nb-icon icon="message-square-outline"></nb-icon>
  </button>
</div>
<div class="d-inline-flex" [nbTooltip]="MORE_ACTION.MESSAGE_4.LABEL">
  <button
    nbButton
    ghost
    [status]="this.isMessage4 ? 'success' : 'basic'"
    [nbContextMenu]="message4RequestArr"
    nbContextMenuTrigger="click"
    nbContextMenuTag="message-4-context-menu"
    (click)="onMessageSent()"
  >
    <nb-icon icon="message-square-outline"></nb-icon>
  </button>
</div>
<div class="d-inline-flex" [nbTooltip]="MORE_ACTION.MESSAGE_5.LABEL">
  <button
    nbButton
    ghost
    [status]="this.isMessage5 ? 'success' : 'basic'"
    [nbContextMenu]="message5RequestArr"
    nbContextMenuTrigger="click"
    nbContextMenuTag="message-5-context-menu"
    (click)="onMessageSent()"
  >
    <nb-icon icon="message-square-outline"></nb-icon>
  </button>
</div>
<div
  class="d-inline-flex"
  [nbTooltip]="MORE_ACTION.NEUTRAL_POSITIVE_RESPONSE.LABEL"
>
  <button
    nbButton
    ghost
    [status]="
      this.isPositiveResponse && scheduler.neutral !== null
        ? 'success'
        : 'basic'
    "
    (click)="onNeutralPositive()"
  >
    <nb-icon icon="checkmark-outline"></nb-icon>
  </button>
</div>
<div
  class="d-inline-flex"
  [nbTooltip]="MORE_ACTION.NEGATIVE_NO_FOLLOW_UP.LABEL"
>
  <button
    nbButton
    ghost
    [status]="
      this.isNegativeResponse && scheduler.negative !== null
        ? 'danger'
        : 'basic'
    "
    (click)="onNegativeNoFollowUp()"
  >
    <nb-icon icon="close-outline"></nb-icon>
  </button>
</div>
<div class="d-inline-flex">
  <button nbButton ghost status="basic">
    <nb-icon icon="person-add-outline"></nb-icon>
  </button>
</div>
<div class="d-inline-flex">
  <button nbButton ghost status="basic">
    <nb-icon icon="person-remove-outline"></nb-icon>
  </button>
</div>
<div class="d-inline-flex">
  <button nbButton ghost status="basic">
    <nb-icon icon="person-delete-outline"></nb-icon>
  </button>
</div>
