<div class="row">
  <div class="col-xxxl-3 col-md-3">
    <app-dashboard-card
      [title]="5238"
      [subTitle]="'Connections'"
    ></app-dashboard-card>
  </div>
  <div class="col-xxxl-3 col-md-3">
    <app-dashboard-card
      [title]="23"
      [subTitle]="'Invites'"
    ></app-dashboard-card>
  </div>
  <div class="col-xxxl-3 col-md-3">
    <app-dashboard-card
      [title]="352"
      [subTitle]="'Replies'"
    ></app-dashboard-card>
  </div>
  <div class="col-xxxl-3 col-md-3">
    <app-dashboard-card
      [title]="2101"
      [subTitle]="'Invite sents'"
    ></app-dashboard-card>
  </div>
</div>

<div class="row">
  <div class="col-xxl-9">
    <app-scheduler-card></app-scheduler-card>
  </div>
  <div class="col-xxl-3">
    <app-scheduler-sdr-activity></app-scheduler-sdr-activity>
  </div>
</div>

<div class="row">
  <div class="col-xxl-9"></div>

  <div class="col-xxl-3">
    <app-scheduler-contacts-card></app-scheduler-contacts-card>
  </div>
</div>
