<button
  nbButton
  ghost
  status="primary"
  (click)="viewCampaign()"
  nbTooltip="Edit"
  *ngIf="hasFeatureAccess(PERMISSION_ACTION_DESC.UPDATE)"
>
  <nb-icon icon="edit-outline"></nb-icon>
</button>
<button
  nbButton
  ghost
  status="primary"
  nbTooltip="Delete"
  (click)="deleteCampaign()"
  *ngIf="hasFeatureAccess(PERMISSION_ACTION_DESC.DELETE)"
>
  <nb-icon icon="trash-outline"></nb-icon>
</button>
<button
  nbButton
  ghost
  status="primary"
  nbTooltip="Manage SDR"
  (click)="toggleAddSDR()"
  *ngIf="
    (hasFeatureAccess(PERMISSION_ACTION_DESC.CREATE) &&
      user.role === USER_ROLE.ADMIN) ||
    (hasFeatureAccess(PERMISSION_ACTION_DESC.READ) &&
      user.role === USER_ROLE.MANAGER)
  "
>
  <nb-icon icon="people-outline"></nb-icon>
</button>
<button
  nbButton
  ghost
  [status]="managerId !== null ? 'success' : 'primary'"
  [nbTooltip]="managerId !== null ? 'Update SDRM' : 'Tag SDRM'"
  (click)="toggleAddCampaignManager()"
  *ngIf="hasFeatureAccess(PERMISSION_ACTION_DESC.CREATE)"
>
  <nb-icon icon="person-done-outline" *ngIf="managerId !== null"></nb-icon>
  <nb-icon icon="person-add-outline" *ngIf="managerId == null"></nb-icon>
</button>
<button
  nbButton
  ghost
  [status]="getStatus(statusId).class"
  nbTooltip="Update Status"
  [nbContextMenu]="campaignStatusArr"
  nbContextMenuTag="campaign-context-menu"
  (click)="toggleUpdateStatus()"
  *ngIf="hasFeatureAccess(PERMISSION_ACTION_DESC.UPDATE)"
>
  <nb-icon icon="pricetags-outline"></nb-icon>
</button>
<button
  nbButton
  ghost
  status="primary"
  nbTooltip="View Scheduler"
  (click)="viewScheduler()"
  *ngIf="
    hasFeatureAccess(PERMISSION_ACTION_DESC.READ) &&
    statusId === ECampaignStatus.ACTIVE &&
    user.role === USER_ROLE.SDR
  "
>
  <nb-icon icon="calendar-outline"></nb-icon>
</button>
