<app-back-header></app-back-header>
<nb-card class="list-card">
  <nb-card-header>
    Employee Campaigns - {{ employee?.firstName }} {{ employee?.lastName }}
  </nb-card-header>
  <nb-card-header>
    <input nbInput id="search" class="search-input" placeholder="Search" />
  </nb-card-header>
  <nb-card-body>
    <ng-container *ngIf="campaignArr && campaignArr.length > 0">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Actions</th>
            <th scope="col"># of SDR</th>
            <th scope="col">Campaign Name</th>
            <th scope="col">Plan</th>
            <th scope="col">Client</th>
            <th scope="col">Started</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of campaignArr; index as $index">
            <th scope="row">
              <button
                nbButton
                ghost
                status="primary"
                nbTooltip="View Scheduler"
                (click)="viewCampaignScheduler(item)"
              >
                <nb-icon icon="calendar-outline"></nb-icon>
              </button>
            </th>
            <td>{{ item?.sdrCount }}</td>
            <td>{{ item?.campaignName }}</td>
            <td>{{ item?.plan }}</td>
            <td>{{ item?.client }}</td>
            <td>{{ item?.started | date: 'MM/dd/yyyy' }}</td>
            <td>
              <span class="badge badge-{{ getStatus(item.statusId).class }}">{{
                getStatus(item.statusId).label
              }}</span>
            </td>
          </tr>
        </tbody>
      </table>
    </ng-container>
    <ng-container *ngIf="campaignArr && campaignArr.length < 1">
      <app-no-assigned-campaigns></app-no-assigned-campaigns>
    </ng-container>
  </nb-card-body>
  <!-- <nb-card-footer>
    <nav>
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
        <li class="page-item"><a class="page-link">1</a></li>
        <li class="page-item"><a class="page-link">2</a></li>
        <li class="page-item"><a class="page-link">3</a></li>
        <li class="page-item">
          <a class="page-link" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
      </ul>
    </nav>
  </nb-card-footer> -->
</nb-card>
