<nb-card-header
  *ngIf="
    hasFeatureAccess(PERMISSION_ACTION_DESC.CREATE) &&
    user.role === USER_ROLE.MANAGER
  "
>
  <button
    nbButton
    status="primary"
    size="small"
    class="float-right btn-add-sdr"
    nbTooltip="Add New SDR"
    (click)="toggleAddSDR()"
  >
    Add
  </button>
</nb-card-header>
<nb-card-body>
  <app-search-bar-input
    (onEnter)="search($event)"
    (onClear)="clearSearch()"
  ></app-search-bar-input>

  <ag-grid-angular
    #agGrid
    class="ag-theme-alpine"
    [gridOptions]="gridOptions"
    [rowData]="employeeArr"
    [frameworkComponents]="frameworkComponents"
    [columnDefs]="columnDefs"
    (gridReady)="onGridReady($event)"
  >
  </ag-grid-angular>
</nb-card-body>
<nb-card-footer>
  <app-pagination
    [itemsPerPage]="itemsPerPage"
    [totalItems]="totalItems"
    [currentPage]="currentPage"
    [hasPager]="true"
    (pageChanged)="pageChanged($event)"
  ></app-pagination>
</nb-card-footer>
