app-employee-tab {
  ag-grid-angular {
    width: 100%;
    height: calc(100vh - 475px);
    // height: 350px;

    .ag-header-cell-label {
      justify-content: center;
    }

    .ag-grid-header {
      &-primary {
        background: #3c78d8;
        color: #fff;
        text-align: center;
      }

      &-secondary {
        background: #666666;
        color: #fff;
        text-align: center;
      }
    }

    .ag-cell {
      app-avatar-cell-renderer {
        nb-user {
          justify-content: center;
        }
      }
    }
  }

  .header-search {
    position: relative;

    .btn-add-sdr {
      position: absolute;
      right: 0;
      top: 0;
      margin-right: 1.5rem;
      margin-top: 1.2rem;
    }
  }
}
