app-info-button {
  .toggle-settings {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    background: #fff;
    box-shadow: none;
    border: none;
    height: 4rem;
    width: 4rem;
    padding: 0;
    text-align: center;
  }

  .nb-transition {
    transition-duration: 0.15s;
    transition-property: background-color, border-color, box-shadow, color;
    transition-timing-function: ease-in;
  }

  .status-basic {
    background-color: rgba(143, 155, 179, 0.08);
    border-color: #8f9bb3;
    color: #8f9bb3;

    &:active,
    &:focus {
      background-color: rgba(143, 155, 179, 0.24);
      border-color: #8f9bb3;
      color: #8f9bb3;
    }

    &:hover {
      background-color: rgba(143, 155, 179, 0.16);
      border-color: #8f9bb3;
      color: #8f9bb3;
    }
  }
}
