<nb-reveal-card [showToggleButton]="false" [revealed]="revealed">
  <nb-card-front>
    <nb-card size="medium">
      <app-scheduler-card-header
        [type]="period"
        (periodChange)="setPeriodAngGetData($event)"
      ></app-scheduler-card-header>
      <app-scheduler-card-front
        [frontCardData]="trafficListData"
      ></app-scheduler-card-front>
      <nb-icon
        class="toggle-icon"
        icon="chevron-up-outline"
        pack="eva"
        (click)="toggleView()"
      ></nb-icon>
    </nb-card>
  </nb-card-front>
  <nb-card-back>
    <nb-card size="medium">
      <app-scheduler-card-header
        [type]="period"
        (periodChange)="setPeriodAngGetData($event)"
      ></app-scheduler-card-header>
      <app-scheduler-card-back
        [trafficBarData]="trafficBarData"
      ></app-scheduler-card-back>
      <nb-icon
        class="toggle-icon"
        icon="chevron-down-outline"
        pack="eva"
        (click)="toggleView()"
      ></nb-icon>
    </nb-card>
  </nb-card-back>
</nb-reveal-card>
