@import '../../../../../../shared/@theme/styles/theme';

app-scheduler-card {
  .toggle-icon {
    position: absolute;
    top: 1rem;
    right: 1.25rem;
    @include nb-rtl(right, auto);
    @include nb-rtl(left, 1.25rem);
    cursor: pointer;
  }
}
