app-scheduler-checkbox-renderer {
  @keyframes check {
    0% {
      height: 0;
      width: 0;
    }
    25% {
      height: 0;
      width: 10px;
    }
    50% {
      height: 20px;
      width: 10px;
    }
  }

  .checkbox {
    background-color: #fff;
    display: inline-block;
    height: 21px;
    margin: 0.25em;
    width: 21px;
    border-radius: 4px;
    border: 1px solid #ccc;

    span {
      display: block;
      height: 21px;
      position: relative;
      width: 21px;
      padding: 0;

      &:after {
        -moz-transform: scaleX(-1) rotate(135deg);
        -ms-transform: scaleX(-1) rotate(135deg);
        -webkit-transform: scaleX(-1) rotate(135deg);
        transform: scaleX(-1) rotate(135deg);
        -moz-transform-origin: left top;
        -ms-transform-origin: left top;
        -webkit-transform-origin: left top;
        transform-origin: left top;
        border-right: 4px solid #fff;
        border-top: 4px solid #fff;
        content: '';
        display: block;
        height: 16px;
        left: 0px;
        position: absolute;
        top: 10px;
        width: 9px;
      }

      &:hover:after {
        border-color: #999;
      }
    }

    input {
      display: none;

      &:checked + span:after {
        -webkit-animation: check 0.8s;
        -moz-animation: check 0.8s;
        -o-animation: check 0.8s;
        animation: check 0.8s;
        border-color: #555;
      }

      &:checked + .default:after {
        border-color: #444;
      }

      &:checked + .primary:after {
        border-color: #2196f3;
      }

      &:checked + .success:after {
        border-color: #8bc34a;
      }

      &:checked + .info:after {
        border-color: #3de0f5;
      }

      &:checked + .warning:after {
        border-color: #ffc107;
      }

      &:checked + .danger:after {
        border-color: #f44336;
      }
    }
  }
}
