<nb-form-field class="search-input">
  <nb-icon nbPrefix icon="search-outline" pack="eva"></nb-icon>
  <input
    nbInput
    id="search"
    placeholder="Search"
    (keydown.enter)="onEnter.emit($event)"
    (input)="onChangeEvent($event)"
    #searchInput
  />
  <nb-icon
    nbSuffix
    class="close-icon"
    icon="close-outline"
    pack="eva"
    *ngIf="showCloseButton"
    (click)="onClearEvent($event)"
  ></nb-icon>
</nb-form-field>
