<nb-card>
  <nb-card-header>
    Deparment
    <button nbButton status="primary" ghost class="float-right" (click)="bsModalRef.hide()">
      <nb-icon icon="close-outline"></nb-icon>
    </button>
  </nb-card-header>
  <nb-card-body>
    <form class="form" novalidate [formGroup]="departmentForm">
      <div class="row">
        <div class="col-lg-12">
          <div class="form-control-group mt-2">
            <label class="label" for="input-name">Name:</label>
            <input nbInput id="name" name="name" placeholder="Name" autofocus fullWidth fieldSize="large"
              formControlName="name" />
            <ng-container *ngIf="
                (f.name?.dirty || f.name?.touched) &&
                f.name?.invalid &&
                f.name.errors
              ">
              <p class="caption status-danger" *ngIf="f.name.errors?.required">
                Department Name is required!
              </p>
            </ng-container>
          </div>

          <div class="form-control-group mt-2">
            <label class="label" for="input-name">Short Name:</label>
            <input nbInput id="shortName" name="shortName" placeholder="Short Name" autofocus fullWidth
              fieldSize="large" formControlName="shortName" />
            <ng-container *ngIf="
                (f.shortName?.dirty || f.shortName?.touched) &&
                f.shortName?.invalid &&
                f.shortName.errors
              ">
              <p class="caption status-danger" *ngIf="f.shortName.errors?.required">
                Department Short name is required!
              </p>
            </ng-container>
          </div>

          <div class="form-control-group mt-2">
            <label class="label" for="input-name">Description:</label>
            <textarea id="description" name="description" rows="5" nbInput fullWidth placeholder="Description"
              formControlName="description"></textarea>
          </div>
        </div>
      </div>
    </form>
  </nb-card-body>
  <nb-card-footer>
    <button nbButton (click)="register()" status="primary" [nbSpinner]="isSubmitting" nbSpinnerStatus="primary"
      [disabled]="isSubmitting || departmentForm.invalid">
      {{ buttonLabel }}
    </button>
    <button nbButton class="ml-1" (click)="bsModalRef.hide()">Cancel</button>
  </nb-card-footer>
</nb-card>
