<nb-card>
  <nb-card-header> User Profile </nb-card-header>
  <nb-card-body>
    <form class="form" [formGroup]="userForm">
      <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12">
          <div class="form-control-group mt-2">
            <nb-user
              size="giant"
              name="Upload Photo"
              title="Recommended size is 360 x 360 pixels"
              (click)="uploadImage()"
              [picture]="profileImage"
            >
            </nb-user>
          </div>
          <div class="form-control-group mt-2">
            <label class="label" for="input-name">First Name:</label>
            <input
              nbInput
              id="first-name"
              name="first-name"
              placeholder="First Name"
              fullWidth
              fieldSize="large"
              formControlName="firstName"
            />
          </div>
          <div class="form-control-group mt-2">
            <label class="label" for="input-name">Last Name:</label>
            <input
              nbInput
              id="last-name"
              name="last-name"
              placeholder="Last Name"
              fullWidth
              fieldSize="large"
              formControlName="lastName"
            />
          </div>

          <div class="form-control-group mt-2">
            <label class="label" for="input-name">Email:</label>
            <input
              nbInput
              type="email"
              id="email"
              name="email"
              placeholder="Email"
              fullWidth
              fieldSize="large"
              formControlName="email"
            />
          </div>

          <div class="form-control-group mt-2">
            <label class="label" for="input-name">LinkedIn URL:</label>
            <input
              nbInput
              id="linkedInURL"
              name="linkedInURL"
              placeholder="LinkedIn URL"
              fullWidth
              fieldSize="large"
              formControlName="linkedInUrl"
            />
          </div>

          <div class="form-control-group mt-2">
            <label class="label" for="input-name">LinkedIn Name:</label>
            <input
              nbInput
              id="linkedInName"
              name="linkedInName"
              placeholder="LinkedIn Name"
              fullWidth
              fieldSize="large"
              formControlName="linkedInName"
            />
          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
          <div class="form-control-group mt-2">
            <label class="label" for="input-name">Department:</label>
            <nb-select
              fullWidth
              id="department"
              name="department"
              formControlName="departmentId"
            >
              <nb-option
                [value]="item.id"
                *ngFor="let item of departmentsArr"
                >{{ item.name }}</nb-option
              >
            </nb-select>
          </div>
          <div class="form-control-group mt-2">
            <label class="label" for="input-name">Date Hired:</label>
            <input
              nbInput
              id="campaign-launch-date"
              name="campaign-launch-date"
              [nbDatepicker]="datepicker"
              placeholder="MM/DD/YYYY"
              fullWidth
              fieldSize="large"
              formControlName="dateHired"
            />
            <nb-datepicker #datepicker></nb-datepicker>
          </div>

          <div class="form-control-group mt-2">
            <label class="label" for="input-name">Address:</label>
            <input
              nbInput
              id="address"
              name="address"
              placeholder="Address"
              fullWidth
              fieldSize="large"
              formControlName="address"
            />
          </div>

          <div class="form-control-group mt-2">
            <label class="label" for="input-name">State:</label>
            <input
              nbInput
              id="state"
              name="state"
              placeholder="State"
              fullWidth
              fieldSize="large"
              formControlName="state"
            />
          </div>

          <div class="form-control-group mt-2">
            <label class="label" for="input-name">Postal Code:</label>
            <input
              nbInput
              id="postCode"
              name="postCode"
              placeholder="Postal Code"
              fullWidth
              fieldSize="large"
              formControlName="postalCode"
            />
          </div>

          <div class="form-control-group mt-2">
            <label class="label" for="input-name">Country:</label>
            <nb-select
              selected="1"
              fullWidth
              id="country"
              name="country"
              formControlName="country"
            >
              <nb-option
                [value]="country.code"
                *ngFor="let country of countryArr"
                >{{ country.name }}</nb-option
              >
            </nb-select>
          </div>
        </div>
      </div>
    </form>
  </nb-card-body>
  <nb-card-footer>
    <button
      nbButton
      class="ml-1"
      status="primary"
      (click)="updateProfile()"
      [nbSpinner]="isSubmitting"
      nbSpinnerStatus="primary"
    >
      Update
    </button>
  </nb-card-footer>
</nb-card>
