<nb-layout>
  <nb-layout-column>
    <nb-card>
      <nb-card-header *ngIf="showBack">
        <nav class="navigation">
          <a href="#" (click)="back()" class="link back-link" aria-label="Back">
            <nb-icon icon="arrow-back"></nb-icon>
          </a>
        </nav>
      </nb-card-header>
      <nb-card-body>
        <app-auth-block>
          <router-outlet></router-outlet>
        </app-auth-block>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>
</nb-layout>
