<nb-card>
  <nb-card-header>
    Add New Pricing
    <button
      nbButton
      status="primary"
      ghost
      class="float-right"
      (click)="bsModalRef.hide()"
    >
      <nb-icon icon="close-outline"></nb-icon>
    </button>
  </nb-card-header>
  <nb-card-body>
    <form class="form" novalidate [formGroup]="pricingForm">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="form-control-group mt-2">
            <label class="label" for="input-name">Name:</label>
            <input
              nbInput
              id="name"
              name="name"
              placeholder="Name"
              autofocus
              fullWidth
              fieldSize="large"
              formControlName="name"
            />
            <ng-container
              *ngIf="
                (f.name?.dirty || f.name?.touched) &&
                f.name?.invalid &&
                f.name.errors
              "
            >
              <p class="caption status-danger" *ngIf="f.name.errors?.required">
                Pricing Name is required!
              </p>
            </ng-container>
          </div>

          <div class="form-control-group mt-2">
            <label class="label" for="input-name">Price:</label>
            <input
              nbInput
              id="pricing"
              name="pricing"
              placeholder="0.00"
              autofocus
              fullWidth
              fieldSize="large"
              formControlName="pricing"
            />
            <ng-container
              *ngIf="
                (f.pricing?.dirty || f.pricing?.touched) &&
                f.pricing?.invalid &&
                f.pricing.errors
              "
            >
              <p
                class="caption status-danger"
                *ngIf="f.pricing.errors?.required"
              >
                Pricing amount is required!
              </p>
            </ng-container>
          </div>

          <div class="form-control-group mt-2">
            <label class="label" for="input-name">Duration:</label>
            <nb-select
              fullWidth
              id="duration"
              name="duration"
              placeholder="Duration"
              formControlName="durationId"
            >
              <nb-option
                [value]="item.value"
                *ngFor="let item of campaignDurationArr"
                >{{ item.title }}
              </nb-option>
            </nb-select>
          </div>
        </div>
      </div>
    </form>
  </nb-card-body>
  <nb-card-footer>
    <button
      nbButton
      status="primary"
      [nbSpinner]="isSubmitting"
      nbSpinnerStatus="primary"
      [disabled]="isSubmitting || pricingForm.invalid"
      (click)="createPricing()"
    >
      {{ buttonLabel }}
    </button>
    <button nbButton class="ml-1" (click)="bsModalRef.hide()">Cancel</button>
  </nb-card-footer>
</nb-card>
