<nb-card>
  <nb-card-header>
    {{data.employeeName}}
    <button nbButton status="primary" ghost class="float-right" (click)="bsModalRef.hide()">
      <nb-icon icon="close-outline"></nb-icon>
    </button>
  </nb-card-header>
  <nb-card-body class="px-4">
    <table class="table">
      <thead>
        <th>Day</th>
        <th>Mon</th>
        <th>Tue</th>
        <th>Wed</th>
        <th>Thu</th>
        <th>Fri</th>
      </thead>
      <tbody>
        <tr>
          <th>Activity</th>
          <td>100</td>
          <td>100</td>
          <td>100</td>
          <td>100</td>
          <td>100</td>
        </tr>
        <tr>
          <th>Base Pay</th>
          <td><input type="checkbox" [checked]="true" disabled /></td>
          <td><input type="checkbox" [checked]="true" disabled /></td>
          <td><input type="checkbox" [checked]="true" disabled /></td>
          <td><input type="checkbox" [checked]="true" disabled /></td>
          <td><input type="checkbox" [checked]="true" disabled /></td>
        </tr>
      </tbody>
    </table>
    <div class="row py-2">
      <div class="col-md-3 col-6">
        <label>Total Days Present</label>
      </div>
      <div class="col-5">0</div>
    </div>
    <div class="row py-2">
      <div class="col-md-3 col-6">
        <label>Subtotal</label>
      </div>
      <div class="col-5">$0.00</div>
    </div>
    <div class="row py-2">
      <div class="col-md-3 col-6">
        <label>Incentives</label>
      </div>
      <div class="col-5">$0.00</div>
    </div>
    <div class="row total py-2">
      <div class="col-md-3 col-6">
        <label>Total</label>
      </div>
      <div class="col-5">$0.00</div>
    </div>
  </nb-card-body>
</nb-card>
