:host {
  table {
    th {
      color: #828282;
      font-weight: 400;
    }
  }

  nb-card-body {
    font-size: 11.5px;
  }

  .total {
    background: #3366ff33;
    label {
      font-weight: 700;
      color: #3366ff;
      margin: 0 0;
    }
  }
}
