<!-- <h1 id="title" class="title">Campaign Scheduler</h1> -->
<!-- <p class="sub-title">Hello! Log in with your email.</p> -->
<div class="title">
  <img src="./assets/logo/logo.png" />
</div>

<form
  (ngSubmit)="login($event)"
  novalidate
  [formGroup]="loginForm"
  aria-labelledby="title"
>
  <div class="form-control-group">
    <label class="label" for="input-email">Email address:</label>
    <input
      nbInput
      fullWidth
      name="email"
      id="input-email"
      placeholder="Email address"
      formControlName="userName"
      fieldSize="large"
    />
  </div>

  <div class="form-control-group">
    <span class="label-with-link">
      <label class="label" for="input-password">Password:</label>
      <a class="forgot-password caption-2" routerLink="../forgot-password"
        >Forgot Password?</a
      >
    </span>
    <nb-form-field>
      <nb-icon
        nbSuffix
        icon="eye-outline"
        pack="eva"
        (click)="showPassword(password)"
        *ngIf="password.type == 'password'"
      ></nb-icon>
      <nb-icon
        nbSuffix
        icon="eye-off-outline"
        pack="eva"
        (click)="showPassword(password)"
        *ngIf="password.type == 'text'"
      ></nb-icon>
      <input
        nbInput
        fullWidth
        name="password"
        type="password"
        id="input-password"
        placeholder="Password"
        #password
        formControlName="password"
        fieldSize="large"
      />
    </nb-form-field>
  </div>

  <button
    nbButton
    fullWidth
    status="primary"
    size="large"
    [disabled]="isSubmitting || !loginForm.valid"
    [class.btn-pulse]="isSubmitting"
    [nbSpinner]="isSubmitting"
    nbSpinnerStatus="success"
  >
    Log In
  </button>
</form>

<section class="another-action" aria-label="Register">
  Don't have an account?
  <a class="text-link" routerLink="../register">Register</a>
</section>
