@import '../../../../../../shared/@theme/styles/theme';

app-scheduler-progress-card {
  .progress-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 2rem;

    &:first-child {
      margin-top: 0;
    }
  }

  .description {
    margin-top: 0.5rem;
  }
}
