app-scheduler-card-back {
  display: flex;
  flex-direction: column;
  flex: 1;

  nb-card-body {
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
  }

  ngx-traffic-bar-chart {
    flex: 1;
    position: relative;

    ::ng-deep {
      canvas {
        border-bottom-left-radius: nb-theme(card-border-radius);
        border-bottom-right-radius: nb-theme(card-border-radius);
      }

      .echart {
        height: 100%;
        width: 100%;
      }
    }
  }
}
