app-employee-groupings {
  nb-list {
    nb-list-item {
      justify-content: space-between;
    }
  }

  .header-search {
    position: relative;
  }

  .btn-add-sdr {
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 1.5rem;
    margin-top: 1.2rem;
  }
}
