:host {
  ag-grid-angular {
    width: 100%;
    height: calc(100vh - 375px);
    // height: 350px;

    .ag-header-cell-label {
      justify-content: center;
    }

    .ag-grid-header {
      &-primary {
        background: #3c78d8;
        color: #fff;
        text-align: center;
      }

      &-secondary {
        background: #666666;
        color: #fff;
        text-align: center;
      }
    }
  }
}
