<nb-card>
  <nb-card-header> Pending Approvals </nb-card-header>
  <nb-card-body>
    <app-search-bar-input
      (onEnter)="search($event)"
      (onClear)="clearSearch()"
    ></app-search-bar-input>
    <ag-grid-angular
      #agGrid
      class="ag-theme-alpine"
      [gridOptions]="gridOptions"
      [rowData]="pendingArr"
      [frameworkComponents]="frameworkComponents"
      [columnDefs]="columnDefs"
      (gridReady)="onGridReady($event)"
    >
    </ag-grid-angular>
  </nb-card-body>
  <nb-card-footer>
    <app-pagination
      [itemsPerPage]="itemsPerPage"
      [totalItems]="totalItems"
      [currentPage]="currentPage"
      [hasPager]="true"
      (onPageChanged)="pageChanged($event)"
    ></app-pagination>
  </nb-card-footer>
</nb-card>
