app-campaign-sdr {
  nb-list {
    nb-list-item {
      justify-content: space-between;
    }
  }

  .header-search {
    position: relative;

    .btn-add-sdr {
      position: absolute;
      right: 0;
      top: 0;
      margin-right: 1.5rem;
      margin-top: 1.2rem;
    }
  }

  .search-input {
    margin-bottom: 0rem;
  }

  nb-card {
    margin-bottom: 0rem !important;

    &.size-small {
      height: 35rem !important;
    }
  }

  .sdr-nb-user {
    .user-container {
      .user-picture {
        nb-badge {
          &.position-bottom {
            bottom: -12px !important;
          }
        }
      }
    }
  }
}
