<app-back-header></app-back-header>
<nb-card class="list-card">
  <nb-card-header>
    Campaign Sales Development Representative (Campaign SDR)
    <button
      nbButton
      status="primary"
      size="small"
      class="float-right btn-add-sdr"
      nbTooltip="Add New SDR"
      (click)="toggleAddSDR()"
      *ngIf="
        hasFeatureAccess(PERMISSION_ACTION_DESC.CREATE) &&
        user.role === USER_ROLE.ADMIN
      "
    >
      Add
    </button></nb-card-header
  >
  <nb-card-header class="header-search">
    <app-search-bar-input
      (onEnter)="search($event)"
      (onClear)="clearSearch()"
    ></app-search-bar-input>
  </nb-card-header>
  <nb-card-body>
    <ng-container *ngIf="showContent">
      <nb-list *ngIf="sdrArr.length > 0">
        <nb-list-item *ngFor="let sdr of sdrArr">
          <nb-user
            class="sdr-nb-user"
            size="large"
            name="{{ sdr.firstName }} {{ sdr.lastName }}"
            [title]="sdr.email"
            [picture]="sdr.imageUrl"
            [badgeText]="getSDRStatus(sdr?.statusId)?.label"
            [badgeStatus]="getSDRStatus(sdr?.statusId)?.class"
            badgePosition="bottom"
          >
          </nb-user>
          <div class="">
            <button
              nbButton
              ghost
              [status]="getSDRStatus(sdr?.statusId)?.class"
              [nbContextMenu]="sdrStatusArr"
              nbContextMenuTag="sdr-context-menu"
              (click)="toggleSDRUpdateStatus(sdr)"
              *ngIf="
                hasFeatureAccess(PERMISSION_ACTION_DESC.CREATE) &&
                user.role === USER_ROLE.ADMIN
              "
            >
              <nb-icon icon="pricetags-outline"></nb-icon>
            </button>
            <button
              nbButton
              ghost
              status="primary"
              nbTooltip="Upload Scheduler"
              (click)="uploadScheduler(sdr)"
              *ngIf="
                hasFeatureAccess(PERMISSION_ACTION_DESC.CREATE) &&
                user.role === USER_ROLE.ADMIN
              "
            >
              <nb-icon icon="cloud-upload-outline"></nb-icon>
            </button>
            <button
              nbButton
              ghost
              status="primary"
              nbTooltip="View Scheduler"
              (click)="viewCampaignScheduler(sdr)"
              *ngIf="
                user.role === USER_ROLE.ADMIN || user.role === USER_ROLE.MANAGER
              "
            >
              <nb-icon icon="calendar-outline"></nb-icon>
            </button>
            <button
              nbButton
              ghost
              status="primary"
              nbTooltip="Remove SDR"
              (click)="removeSDR(sdr)"
              [disabled]="isRemoving"
              *ngIf="
                hasFeatureAccess(PERMISSION_ACTION_DESC.CREATE) &&
                user.role === USER_ROLE.ADMIN
              "
            >
              <nb-icon icon="trash-outline"></nb-icon>
            </button>
          </div>
        </nb-list-item>
      </nb-list>
      <ng-container *ngIf="sdrArr.length < 1">
        <app-no-assigned-sdr></app-no-assigned-sdr>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="!showContent">
      <ion-list>
        <ion-item *ngFor="let sdr of fakeArr">
          <ion-avatar slot="start">
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-avatar>
          <ion-label>
            <h3>
              <ion-skeleton-text
                animated
                style="width: 50%"
              ></ion-skeleton-text>
            </h3>
            <p>
              <ion-skeleton-text
                animated
                style="width: 80%"
              ></ion-skeleton-text>
            </p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ng-container>
  </nb-card-body>
  <nb-card-footer *ngIf="showContent && sdrArr.length > 0">
    <nav>
      <pagination
        boundaryLinks="true"
        previousText="&laquo;"
        nextText="&raquo;"
        [itemsPerPage]="itemsPerPage"
        [totalItems]="totalItems"
        [(ngModel)]="currentPage"
        (pageChanged)="pageChanged($event)"
      ></pagination>
    </nav>
  </nb-card-footer>
</nb-card>
