<button
  nbButton
  ghost
  status="primary"
  (click)="viewEmployee()"
  [nbTooltip]="VIEW_TOOLTIP"
  *ngIf="hasFeatureAccess(PERMISSION_ACTION_DESC.READ)"
  disabled
>
  <nb-icon icon="eye-outline"></nb-icon>
</button>
<button
  nbButton
  ghost
  status="primary"
  [nbTooltip]="EDIT_TOOLTIP"
  [nbContextMenu]="userStatusArr"
  nbContextMenuTag="users-context-menu"
  class="ml-2"
  (click)="toggleUpdateStatus()"
  *ngIf="hasFeatureAccess(PERMISSION_ACTION_DESC.UPDATE)"
>
  <nb-icon icon="pricetags-outline"></nb-icon>
</button>
