@import '../../../../../../shared/@theme/styles/theme';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

app-kpi-activity-list {
  .kpi-list-card {
    nb-card-header {
      border-bottom: unset;
    }
  }

  overflow: auto;

  .item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    > * {
      flex: 1;
    }

    &:first-child {
      border-top: none;
    }
  }

  .delta {
    display: flex;
    align-items: center;

    // &.down {
    //   color: nb-theme(color-danger-default);
    // }

    // &.up {
    //   color: nb-theme(color-success-default);
    // }
  }
}
