<nb-list>
  <nb-list-item
    class="item"
    *ngFor="let item of activityData; trackBy: trackByDate"
  >
    <span>{{ item.date }}</span>
    <span>
      <span class="delta text-{{ item.invites.color }}">
        {{ item.invites.value }}
      </span>
    </span>
    <span>
      <span class="delta text-{{ item.connections.color }}">
        {{ item.connections.value }}
      </span>
    </span>
    <span>
      <span class="delta text-{{ item.messages.color }}">
        {{ item.messages.value }}
      </span>
    </span>
    <span>
      <span class="delta text-{{ item.total.color }}">
        {{ item.total.value }}
      </span>
    </span>
    <!-- <span
      class="delta"
      [class.up]="item.delta.up"
      [class.down]="!item.delta.up"
    >
      <nb-icon
        [icon]="item.delta.up ? 'arrow-up' : 'arrow-down'"
        pack="eva"
      ></nb-icon>
      {{ item.total.value }}
    </span> -->
  </nb-list-item>
</nb-list>
