@import '../../../../shared/@theme/styles/theme';

app-scheduler {
  @include nb-install-component() {
    nb-card {
      transform: translate3d(0, 0, 0);
    }
  }

  app-scheduler-main-listing {
    ag-grid-angular {
      height: calc(100vh - 405px) !important;
    }
  }
}
