<div>
  <div class="row">
    <div class="col-xxxl-3 col-md-3">
      <h5 class="lead text-primary">Today's Activity:
        <br>
        <small class="text-muted">As of <b>{{curDate | date:'fullDate'}}</b></small>
      </h5>
    </div>
    <div class="col-xxxl-3 col-md-3">
      <app-dashboard-card size="small" [title]="23" [subTitle]="'Invites'"></app-dashboard-card>
    </div>
    <div class="col-xxxl-3 col-md-3">
      <app-dashboard-card size="small" [title]="5238" [subTitle]="'Connections'"></app-dashboard-card>
    </div>
    <div class="col-xxxl-3 col-md-3">
      <app-dashboard-card size="small" [title]="352" [subTitle]="'Messages'"></app-dashboard-card>
    </div>
  </div>
</div>

<nb-card>
  <nb-card-header>
    Scheduler
    <button nbButton size="small" class="float-right" (click)="toggleSidebar()">
      <nb-icon icon="info-outline"></nb-icon>
      View Details
    </button>
  </nb-card-header>
  <nb-card-body>
    <app-search-bar-input (onEnter)="search($event)" (onClear)="clearSearch()"></app-search-bar-input>
    <app-scheduler-main-listing [ngClass]="{ 'd-none': showContent && schedulerArr.length < 1 }"
      [schedulerData]="schedulerArr" [showLoading]="!showContent" [campaign]="campaign"
      (onRefresh)="initSchedulerData()"></app-scheduler-main-listing>
    <ng-container *ngIf="showContent && schedulerArr.length < 1">
      <app-no-assigned-scheduler></app-no-assigned-scheduler>
    </ng-container>
  </nb-card-body>
  <nb-card-footer *ngIf="schedulerArr && schedulerArr.length > 0">
    <app-pagination [itemsPerPage]="itemsPerPage" [totalItems]="totalItems" [currentPage]="currentPage"
      [disabled]="!showContent" [hasPager]="true" (onPageChanged)="pageChanged($event)"></app-pagination>
  </nb-card-footer>
</nb-card>
