<table class="table table-header table-responsive-md table-responsive-sm">
  <tbody>
    <tr class="table-header-row row1">
      <th scope="row" class="table-header-lead">Campaign Name</th>
      <td class="table-header-detail">{{ campaign?.campaignName }}</td>
      <th scope="row" class="table-header-lead">SDR Manager</th>
      <td class="table-header-detail">
        {{ campaign?.manager?.firstName }} {{ campaign?.manager?.lastName }}
      </td>
    </tr>
    <tr class="table-header-row row2">
      <th scope="row" class="table-header-lead">SDR</th>
      <td class="table-header-detail">
        {{ employee?.firstName }} {{ employee?.lastName }}
      </td>
      <th scope="row" class="table-header-lead">Launch Date</th>
      <td class="table-header-detail">
        {{ campaign?.started | date: 'fullDate' }}
      </td>
    </tr>
  </tbody>
</table>
