app-scheduler-header {
  .table-header {
    .table-header-row {
      &.row1 {
      }

      &.row2 {
      }
    }

    .table-header-lead {
      background: #9fc5e8;
      height: 60px;
      text-align: center;
      vertical-align: middle;
      min-width: 160px;
      width: 160px;
    }

    .table-header-lead-alt {
      background: #ffff00;
      height: 60px;
      text-align: center;
      vertical-align: middle;
      min-width: 160px;
      width: 190px;
    }

    .table-header-detail {
      background: #fff2cc;
      height: 60px;
      text-align: center;
      vertical-align: middle;
      min-width: 160px;
      // width: 160px;

      font-size: 1.5rem;
      font-weight: 600;
    }
  }
}
