<nb-card>
  <nb-card-header>
    {{ headerTitle }}
    <button
      nbButton
      status="primary"
      ghost
      class="float-right"
      (click)="bsModalRef.hide()"
    >
      <nb-icon icon="close-outline"></nb-icon>
    </button>
  </nb-card-header>
  <nb-card-body>
    <form class="form">
      <div class="row">
        <div class="col-lg-12">
          <div class="form-control-group mt-2">
            <label class="label" for="input-name">Department:</label>
            <nb-select
              fullWidth
              id="department"
              name="department"
              [(ngModel)]="departmentId"
            >
              <nb-option
                [value]="item.id"
                *ngFor="let item of departmentsArr"
                >{{ item.name }}</nb-option
              >
            </nb-select>
          </div>
        </div>
      </div>
    </form>
  </nb-card-body>
  <nb-card-footer>
    <button
      nbButton
      status="primary"
      (click)="assign()"
      [nbSpinner]="isSubmitting"
      nbSpinnerStatus="success"
      [disabled]="isSubmitting"
    >
      Update
    </button>
    <button nbButton class="ml-1" (click)="bsModalRef.hide()">Cancel</button>
  </nb-card-footer>
</nb-card>
