<nb-card>
  <nb-card-header>
    {{ action | titlecase }} Campaign Manager
    <button
      nbButton
      status="primary"
      ghost
      class="float-right"
      (click)="bsModalRef.hide()"
    >
      <nb-icon icon="close-outline"></nb-icon>
    </button>
  </nb-card-header>
  <nb-card-body>
    <!-- <form class="form">

    </form> -->
    <div class="row">
      <div class="col-lg-12">
        <div class="form-control-group mt-2">
          <label class="label" for="input-name">Managers:</label>
          <nb-select
            selected="1"
            fullWidth
            id="employee"
            name="employee"
            [(ngModel)]="managerId"
          >
            <nb-option [value]="item.id" *ngFor="let item of managersArr"
              >{{ item.firstName }} {{ item.lastName }}
            </nb-option>
          </nb-select>
        </div>
      </div>
    </div>
  </nb-card-body>
  <nb-card-footer>
    <button
      nbButton
      status="primary"
      (click)="assignCampaignManager()"
      [nbSpinner]="isSettingManager"
      nbSpinnerStatus="success"
      [disabled]="isSettingManager"
    >
      Update
    </button>
    <button nbButton class="ml-1" (click)="bsModalRef.hide()">Cancel</button>
  </nb-card-footer>
</nb-card>
