app-register {
  .title {
    margin-bottom: 2rem;
  }

  .btn-sq-lg {
    width: 150px !important;
    height: 150px !important;

    img {
      width: 100px;
    }

    label {
      padding-top: 6px;
    }
  }
}
