<h1 id="title" class="title">Register</h1>

<form novalidate (ngSubmit)="register()" [formGroup]="registerForm" aria-labelledby="title">
  <div class="form-control-group">
    <label class="label" for="input-name">First name:</label>
    <input nbInput formControlName="firstName" id="input-name" name="firstName" placeholder="First name" autofocus
      fullWidth fieldSize="large" />
  </div>

  <div class="form-control-group">
    <label class="label" for="input-name">Last name:</label>
    <input nbInput formControlName="lastName" id="input-name" name="lastName" placeholder="Last name" autofocus
      fullWidth fieldSize="large" />
  </div>

  <div class="form-control-group">
    <label class="label" for="input-email">Email address:</label>
    <input nbInput formControlName="email" id="input-email" name="email" placeholder="Email address" fullWidth
      fieldSize="large" />
  </div>

  <div class="form-control-group d-flex align-items-center justify-content-center">
    <button type="button" class="btn btn-sq-lg m-auto" [ngClass]="{
        'btn-outline-primary': !isEmployee,
        'btn-primary': isEmployee
      }" nbTooltip="SDR" [disabled]="isSubmitting" (click)="selectUserRole(userRole.SDR)">
      <img src="./assets/img/employee.svg" />
      <label>SDR</label>
    </button>
    <button type="button" class="btn btn-sq-lg m-auto" [ngClass]="{
        'btn-outline-primary': !isManager,
        'btn-primary': isManager
      }" nbTooltip="SDR Manager" [disabled]="isSubmitting" (click)="selectUserRole(userRole.MANAGER)">
      <img src="./assets/img/manager.svg" />
      <label>SDR Manager</label>
    </button>

    <button type="button" class="btn btn-sq-lg m-auto" [ngClass]="{
        'btn-outline-primary': !isStaff,
        'btn-primary': isStaff
      }" nbTooltip="Admin" [disabled]="isSubmitting" (click)="selectUserRole(userRole.STAFF)">
      <img src="./assets/img/staff.svg" />
      <label>Admin</label>
    </button>
  </div>

  <button nbButton fullWidth status="primary" size="large" [disabled]="isSubmitting || !registerForm.valid"
    [class.btn-pulse]="isSubmitting" [nbSpinner]="isSubmitting" nbSpinnerStatus="success">
    Register
  </button>
</form>

<section class="another-action" aria-label="Sign in">
  Already have an account? <a class="text-link" routerLink="../login">Log in</a>
</section>
