<nb-card>
  <nb-card-header>
    Employee Details
    <button
      nbButton
      status="primary"
      ghost
      class="float-right"
      (click)="bsModalRef.hide()"
    >
      <nb-icon icon="close-outline"></nb-icon>
    </button>
  </nb-card-header>
  <nb-card-body>
    <form class="form" novalidate [formGroup]="employeeForm">
      <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12">
          <div class="form-control-group mt-2">
            <label class="label" for="input-name">First Name:</label>
            <input
              nbInput
              id="first-name"
              name="first-name"
              placeholder="First Name"
              autofocus
              fullWidth
              fieldSize="large"
              formControlName="firstName"
            />
          </div>
          <div class="form-control-group mt-2">
            <label class="label" for="input-name">Last Name:</label>
            <input
              nbInput
              id="last-name"
              name="last-name"
              placeholder="Last Name"
              autofocus
              fullWidth
              fieldSize="large"
              formControlName="lastName"
            />
          </div>

          <div class="form-control-group mt-2">
            <label class="label" for="input-name">Email:</label>
            <input
              nbInput
              type="email"
              id="email"
              name="email"
              placeholder="Email"
              autofocus
              fullWidth
              fieldSize="large"
              formControlName="email"
            />
          </div>

          <div class="form-control-group mt-2">
            <label class="label" for="input-name">LinkedIn URL:</label>
            <input
              nbInput
              id="linkedInURL"
              name="linkedInURL"
              placeholder="LinkedIn URL"
              autofocus
              fullWidth
              fieldSize="large"
              formControlName="linkedInUrl"
            />
          </div>

          <div class="form-control-group mt-2">
            <label class="label" for="input-name">LinkedIn Name:</label>
            <input
              nbInput
              id="linkedInName"
              name="linkedInName"
              placeholder="LinkedIn Name"
              autofocus
              fullWidth
              fieldSize="large"
              formControlName="linkedInName"
            />
          </div>

          <div class="form-control-group mt-2">
            <label class="label" for="input-name">Department:</label>
            <nb-select
              formControlName="departmentId"
              fullWidth
              id="department"
              name="department"
              size="large"
            >
              <nb-option
                [value]="item.id"
                *ngFor="let item of departmentsArr"
                >{{ item.name }}</nb-option
              >
            </nb-select>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
          <div class="form-control-group mt-2">
            <label class="label" for="input-name">Date Hired:</label>
            <input
              nbInput
              id="campaign-launch-date"
              name="campaign-launch-date"
              [nbDatepicker]="datepicker"
              placeholder="MM/DD/YYYY"
              autofocus
              fullWidth
              fieldSize="large"
              formControlName="dateHired"
            />
            <nb-datepicker #datepicker></nb-datepicker>
          </div>

          <div class="form-control-group mt-2">
            <label class="label" for="input-name">Address:</label>
            <input
              nbInput
              id="address"
              name="address"
              placeholder="Address"
              autofocus
              fullWidth
              fieldSize="large"
              formControlName="address"
            />
          </div>

          <div class="form-control-group mt-2">
            <label class="label" for="input-name">State:</label>
            <input
              nbInput
              id="state"
              name="state"
              placeholder="State"
              autofocus
              fullWidth
              fieldSize="large"
              formControlName="state"
            />
          </div>

          <div class="form-control-group mt-2">
            <label class="label" for="input-name">Postal Code:</label>
            <input
              nbInput
              id="postCode"
              name="postCode"
              placeholder="Postal Code"
              autofocus
              fullWidth
              fieldSize="large"
              formControlName="postCode"
            />
          </div>

          <div class="form-control-group mt-2">
            <label class="label" for="input-name">Country:</label>
            <nb-select
              formControlName="country"
              fullWidth
              id="country"
              name="country"
              size="large"
            >
              <nb-option [value]="item.code" *ngFor="let item of COUNTRIES">{{
                item.name
              }}</nb-option>
            </nb-select>
          </div>

          <div class="form-control-group mt-2">
            <label class="label" for="input-name">SDR Type:</label>
            <nb-select
              formControlName="sdrType"
              fullWidth
              id="sdrType"
              name="sdrType"
              size="large"
            >
              <nb-option [value]="item.id" *ngFor="let item of sdrTypeArr"
                >{{ item.name }}
              </nb-option>
            </nb-select>
          </div>
        </div>
      </div>
    </form>
  </nb-card-body>
  <nb-card-footer>
    <button nbButton class="ml-1" (click)="bsModalRef.hide()">Cancel</button>
  </nb-card-footer>
</nb-card>
