<div class="w-100">
  <div class="d-flex w-100">
    <h5 class="mb-1">Manager Information</h5>
  </div>
  <div class="d-flex justify-content-between align-items-center mt-2 mb-4">
    <nb-user
      class="sdr-nb-user"
      size="large"
      name="{{ manager.firstName }} {{ manager.lastName }}"
      [title]="manager.email"
      [picture]="manager.imageUrl"
    >
    </nb-user>
  </div>
  <!-- <div class="d-flex justify-content-between align-items-center">
    <small class="mb-2 font-weight-bold">First Name</small>
    <small class="font-weight-light">{{ manager?.firstName }}</small>
  </div>
  <div class="d-flex justify-content-between align-items-center">
    <small class="mb-2 font-weight-bold">Last Name</small>
    <small class="font-weight-light">{{ manager?.lastName }}</small>
  </div>
  <div class="d-flex justify-content-between align-items-center">
    <small class="mb-2 font-weight-bold">Email</small>
    <small class="font-weight-light">{{ manager?.email }}</small>
  </div> -->

  <div class="d-flex justify-content-between align-items-center">
    <small class="mb-2 font-weight-bold">Department</small>
    <small class="font-weight-light"></small>
  </div>
  <div class="d-flex justify-content-between align-items-center">
    <small class="mb-2 font-weight-bold">Status</small>
    <small class="font-weight-light"></small>
  </div>
</div>
