@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

// themes - our custom or/and out of the box themes
@import './theme.scss';

// framework component themes (styles tied to theme variables)
@import '~@nebular/theme/styles/globals';

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/grid';
@import '~sweetalert2/src/sweetalert2';

@import '~bootstrap-table/src/bootstrap-table';
@import '~ag-grid-community/dist/styles/ag-grid.css';
@import '~ag-grid-community/dist/styles/ag-theme-alpine.css';

// loading progress bar theme
@import './pace.theme';

@import './layout';
@import './overrides';

// install the framework and custom global styles
@include nb-install() {
  // framework global styles
  @include nb-theme-global();

  @include ngx-layout();
  // loading progress bar
  @include ngx-pace-theme();

  @include nb-overrides();
}

.mid-large-screen {
  min-width: 50rem !important;
}

.cdk-overlay-container {
  z-index: 1080 !important;
}

// modal-container {
//   &.modal {
//     z-index: 1090;
//   }
// }

.window-fullscreen {
  height: 100% !important;

  &.full-screen,
  &.maximized {
    width: 100% !important;
  }

  nb-card {
    height: 100% !important;

    nb-card-header {
      .buttons > button:nth-child(2) {
        display: none;
      }
    }
  }

  app-scheduler-main-listing {
    ag-grid-angular {
      height: calc(100vh - 255px) !important;
    }
  }
}
