<nb-card-header>
  <h4>Key Performance Indicator</h4>
  <nb-select [selected]="type" (selectedChange)="changePeriod($event)">
    <nb-option *ngFor="let period of types" [value]="period">{{
      period
    }}</nb-option>
  </nb-select>
</nb-card-header>
<nb-card-header>
  <div class="legend-container">
    <div *ngFor="let legend of legendItems" class="legend">
      <div class="legend-item-color bg-{{ legend.iconColor }}"></div>
      <div class="legend-title">{{ legend.title }}</div>
    </div>
  </div>
</nb-card-header>
