@import '../../../../../../shared/@theme/styles/theme';

app-kpi-card-header {
  nb-card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: nb-theme(card-header-with-select-padding-top);
    padding-bottom: nb-theme(card-header-with-select-padding-bottom);

    @include nb-ltr(padding-right, 4rem);
    @include nb-rtl(padding-left, 4rem);
  }

  .legend-container {
    display: flex;
    flex-wrap: wrap;

    .legend {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &:not(:last-child) {
        @include nb-ltr(margin-right, 1rem);
        @include nb-rtl(margin-left, 1rem);
      }
    }

    .legend-item-color {
      min-width: 15px;
      min-height: 15px;
      border-radius: 0.2rem;
    }

    .legend-title {
      @include nb-ltr(padding-left, 0.75rem);
      @include nb-rtl(padding-right, 0.75rem);
      white-space: nowrap;
    }
  }
}
