<div class="row">
  <div class="col-xxl-6">
    <nb-card size="medium" class="kpi-list-card">
      <app-kpi-card-header
        [type]="period"
        [legendItems]="summaryLegend"
        (periodChange)="setPeriodAngGetData($event)"
      ></app-kpi-card-header>
      <app-kpi-activity-list
        [activityData]="kpiListData"
      ></app-kpi-activity-list>
    </nb-card>
  </div>
  <div class="col-xxl-6">
    <div class="row">
      <div class="col-xxxl-6 col-md-6">
        <app-dashboard-card
          [title]="5238"
          [subTitle]="'Connections'"
        ></app-dashboard-card>
      </div>
      <div class="col-xxxl-6 col-md-6">
        <app-dashboard-card
          [title]="23"
          [subTitle]="'Invites'"
        ></app-dashboard-card>
      </div>
      <div class="col-xxxl-6 col-md-6">
        <app-dashboard-card
          [title]="352"
          [subTitle]="'Messages Sent'"
        ></app-dashboard-card>
      </div>
      <div class="col-xxxl-6 col-md-6">
        <app-dashboard-card
          [title]="2101"
          [subTitle]="'Total Actions'"
        ></app-dashboard-card>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xxl-9"></div>

  <div class="col-xxl-3"></div>
</div>
