<ng-container *ngIf="user.role === USER_ROLE.SDR">
  <button
    nbButton
    ghost
    status="primary"
    [nbTooltip]="EDIT_TOOLTIP"
    [value]="'edit'"
    (click)="updateHandler()"
  >
    <nb-icon icon="eye-outline"></nb-icon>
  </button>
  <button
    nbButton
    ghost
    status="primary"
    [nbTooltip]="DELETE_TOOLTIP"
    [value]="'delete'"
    (click)="deleteHandler()"
  >
    <nb-icon icon="trash-outline"></nb-icon>
  </button>
</ng-container>
